<template>
  <div class="weui-cell">
    <div class="weui-cell__hd">
       <label class="weui-label" v-text="title"></label>
    </div>
    <div class="weui-cell__bd">
       <input type="text" class="weui-input" v-model="currentValue" :placeholder="placeholder"/>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    title: String,
    placeholder: String
  },
  data () {
    return {
      currentValue: ''
    }
  },
  created () {
    this.currentValue = this.value
  },
  watch: {
    value (val) {
      this.currentValue = val
    },
    currentValue (newVal) {
      this.$emit('on-change', this.currentValue)
      this.$emit('input', this.currentValue)
    }
  }
}
</script>
