﻿html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 2160px;
  min-height: 1080px;
  font-family: 'Microsoft YaHei', sans-serif;
}

p {
  margin: 0;
}

body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.css-top {}

.css-top .css-logo {
  position: absolute;
  left: 2.083%;
  top: 3.611%;
  /* width: 10.416%; */
  width: 225px;
}

.css-top .css-logo img {
  width: 100%;
}

.css-top .css-title {
  position: absolute;
  top: 7.407%;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* width: 21.759%; */
  width: 501px;
}

.css-top .css-title img {
  width: 100%;
}


/*评论区*/

.css-avatar {
  width: 116px;
  height: 116px;
  border-radius: 100px;
  overflow: hidden;
  position: absolute;
  left: 4px;
  top: 2px;
}

.css-avatar img {
  width: 100%;
  height: 100%;
}

.css-info {
  position: absolute;
  top: 7px;
  left: 150px;
  width: 1020px;
}

.css-info .css-name {
  font-size: 42px;
  color: #442496;
}

.css-info .css-text {
  font-size: 36px;
  color: #1a084b;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.css-info .css-text img {
  width: 50px;
  height: 50px;
}

.swiper-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 295px;
  /* top: 27.4%;
  width: 55.55%;
  height: 63.24%; */
  width: 1200px;
  height: 685px;
}

.swiper-slide {
  border-radius: 100px 100px 35px 100px;
  /* text-align: center; */
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.7);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


/*节目榜*/


/*Wall 上墙*/

.wall {
  /* width: 1190px; */
  width: 55.09%;
  min-width: 1190px;
  /* height: 90%; */
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.wall .wall-header {
  font-family: Corbel, Arial;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.wall .wall-body {
  /* height: 100px; */
  width: 100%;
}

.wall .wall-body .dicz {
  width: 53%;
  float: left;
  position: relative;
  perspective: 1000px;
}

.wall .wall-body .ranking {
  /* width: 43%; */
  /* float: right; */
}

.title .css-title-text {
  color: #ffcf3b;
  display: inline-block;
  transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  font-weight: 100;
  font-size: 32px;
}

.title .css-title-num {
  font-size: 56px;
  font-weight: 600;
}

.wall .wall-body .label span {
  background-color: #21BBDD;
  display: inline-block;
  color: #fff;
  font-weight: 700;
}

.wall .wall-body .label .triangle {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
}

.wall .wall-body .dicz ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.wall .wall-body .ranking ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.wall .wall-body .dicz ul li,
.wall .wall-body .ranking ul li {
  list-style: none;
}

.wall .wall-body .dicz .dicz-item .dicz-box {
  background-color: rgba(255, 255, 255, 0.9);
}

.nikename {
  color: #333333;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
}

.avatar {
  float: left;
  top: 0;
  left: 0;
}

.avatar img {
  border-radius: 50%;
}

.content {
  color: #EA4065;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
}

.programme {
  color: #fff;
  font-weight: 700;
}

.programme .bar {
  float: left;
}

.programme .bar .do {
  background-color: #ffcf3b;
}

.programme .voting {
  float: right;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card .back {
  transform: rotateY( 180deg);
}

#card.flipped {
  transform: rotateY( 180deg);
}

@media (max-width: 2048px) {
  .num-outer-box {
    width: 410px;
    height: 410px;
    /*margin-top: 17%;*/
    margin-top: 365px;
    padding: 30px;
  }
  .num {
    font-size: 340px;
    line-height: 410px;
  }
  .wall .wall-header {
    font-size: 120px;
    height: 140px;
    margin-bottom: 92px;
  }
  .wall .wall-body .label {
    margin-bottom: 24px;
  }
  .wall .wall-body .label span {
    height: 90px;
    line-height: 85px;
    font-size: 60px;
    padding: 0 12px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .wall .wall-body .label .triangle {
    border: 45px solid transparent;
    border-left: 45px solid #21BBDD;
    background-color: transparent;
  }
  .wall .wall-body .dicz .dicz-item {
    padding-bottom: 20px;
  }
  .wall .wall-body .dicz .dicz-item .dicz-box {
    height: 118px;
    padding: 12px;
    border-radius: 8px;
  }
  .nikename {
    font-size: 43px;
    margin-left: 140px;
  }
  .avatar img {
    height: 120px;
    width: 120px;
  }
  .content {
    font-size: 46px;
    margin-left: 140px;
  }
  .programme {
    font-size: 40px;
  }
  .programme .title {
    margin-bottom: 12px;
  }
  .programme .body {
    height: 63px;
  }
  .programme .bar {
    height: 30px;
    /* border: 6px solid #fff; */
    border-radius: 30px;
    padding: 6px;
    width: 74%;
  }
  .programme .bar .do {
    height: 30px;
    border-radius: 30px;
  }
}

@media (max-width: 1680px) {
  .num-outer-box {
    width: 336px;
    height: 336px;
    /*margin-top: 15%;*/
    margin-top: 300px;
    padding: 25px;
  }
  .num {
    font-size: 300px;
    line-height: 336px;
  }
  .wall .wall-header {
    font-size: 99px;
    height: 115px;
    margin-bottom: 75px;
  }
  .wall .wall-body .label {
    margin-bottom: 20px;
  }
  .wall .wall-body .label span {
    height: 74px;
    line-height: 69px;
    font-size: 50px;
    padding: 0 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .wall .wall-body .label .triangle {
    border: 37px solid transparent;
    border-left: 37px solid #21BBDD;
    background-color: transparent;
  }
  .wall .wall-body .dicz .dicz-item {
    padding-bottom: 16px;
  }
  .wall .wall-body .dicz .dicz-item .dicz-box {
    height: 100px;
    padding: 10px;
    border-radius: 6px;
  }
  .nikename {
    font-size: 35px;
    margin-left: 116px;
  }
  .avatar img {
    height: 100px;
    width: 100px;
  }
  .content {
    font-size: 38px;
    margin-left: 116px;
  }
  .programme {
    font-size: 34px;
  }
  .programme .title {
    margin-bottom: 10px;
  }
  .programme .body {
    height: 52px;
  }
  .programme .bar {
    height: 25px;
    /* border: 5px solid #fff; */
    border-radius: 25px;
    padding: 5px;
    width: 70%;
  }
  .programme .bar .do {
    height: 25px;
    border-radius: 25px;
  }
}
