<template>
  <div class="weui-tab">
    <div v-if="hasNavBar">
       <nav-bar></nav-bar>
    </div>
    <div id="header" class="x-header">
       <tab></tab>
       <slot name="header"></slot>
    </div>
    <div class="weui-tab__panel x-fix-overflow-scrolling" :class="panelClass" ref="viewBody">
       <transition name="page">
          <keep-alive :include="keepAlive" v-if="keepAlive">
             <router-view id="body" class="x-body" :class="bodyClass"></router-view>
          </keep-alive>
          <router-view v-else id="body" class="x-body" :class="bodyClass"></router-view>
       </transition>
    </div>
    <div id="footer" class="x-footer">
       <tabbar></tabbar>
       <slot name="footer"></slot>
    </div>
  </div>
</template>

<script>
  import navBar from '../nav-bar'
  import tabbar from './tabbar'
  import tab from './tab'
  import {mapState} from 'vuex'
  import Vue from 'vue'

  export default {
    components: {
      navBar,
      tabbar,
      tab
    },
    props: {
      hasNavBar: {
        type: Boolean,
        default: true
      },
      keepAlive: [String, RegExp]
    },
    created () {
      if (this.hasNavBar) {
        Vue.directive('nav', (el, binding) => {
          setTimeout(() => {
            this.$store.dispatch('updateNavBar', binding.value)
          }, 200)
        })
      }
    },
    computed: {
      ...mapState({
        direction: state => state.nav.direction,
        showTab: state => state.tab.show
      }),
      panelClass () {
        return {
          'back': this.direction === 'back',
          'forward': this.direction === 'forward'
        }
      },
      bodyClass () {
        return {
          'has-header': this.hasNavBar,
          'has-sub-header': this.$slots.header || this.showTab,
          'has-footer': this.$slots.footer
        }
      }
    }
  }
</script>

<style lang="less" scoped>
  @import '../../styles/weui/widget/weui-tab/weui-tab';
  @import '../../styles/xui/x-nav-view';
  .weui-tab__panel {
    padding-bottom: 0px;
  }
  .has-header {
    padding-top: 44px;
  }
  .has-sub-header {
    padding-top: 44px;
  }
  .has-header.has-sub-header {
    padding-top: 88px;
  }
  .has-footer {
    padding-bottom: 50px;
  }
  .x-header,.x-footer {
    position: absolute;
    left: 0px;
    z-index: 500;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    background-color: #fff;
  }
  .x-header {
    top:0;
    -webkit-overflow-scrolling:touch;
  }
  .x-footer {
    bottom:0;
  }
  .x-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: auto;
    height: auto;
    z-index:1;
  }
  .weui-tab {
    background-color:#f4f4f4;
  }
  .x-fix-overflow-scrolling{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  *::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
</style>
