<template>
   <transition name="page">
     <div v-if="show" id="navtab" style="overflow:scroll;-webkit-overflow-scrolling:touch;">
        <tab :style="tabStyle" :active-color="activeColor" style="overflow:scroll;-webkit-overflow-scrolling:touch;">
          <tab-item v-for="(item, index) in items" :key="index" :selected="$route.path == item.link.path" :link="item.link">
             {{item.text}}
          </tab-item>
        </tab>
     </div>
   </transition> 
</template>

<script>
import { Tab, TabItem } from '../../components/tab'
import {mapState} from 'vuex'

export default {
  components: {
    Tab,
    TabItem
  },
  computed: {
    ...mapState({
      show: state => state.tab.show,
      items: state => state.tab.items,
      activeColor: state => state.tab.activeColor
    }),
    tabLength () {
      return this.items ? this.items.length : 0
    },
    tabStyle () {
      return {
        width: this.tabLength > 4 ? 100 * this.tabLength + 'px' : 'auto'
      }
    }
  }
}
</script>
