<template>
   <transition name="page">
      <tabbar v-if="show" :icon-class="iconClass">
         <tabbar-item v-for="(item, index) in items" :key="index" :selected="$route.path == item.link.path" :link="item.link" :show-dot="item.showDot" :badge="item.badge" :icon-class="item.iconClass">
             <div slot="icon" v-html="item.iconTemp"></div>
             <div slot="label">{{item.text}}</div>
         </tabbar-item>
      </tabbar>
   </transition> 
</template>

<script>
import { Tabbar, TabbarItem } from '../../components/tabbar'
import {mapState} from 'vuex'

export default {
  components: {
    Tabbar,
    TabbarItem
  },
  computed: {
    ...mapState({
      show: state => state.tabbar.show,
      items: state => state.tabbar.items,
      iconClass: state => state.tabbar.iconClass
    })
  }
}
</script>
