<template>
  <div class="x-dialog" @touchmove="onTouchMove">
    <transition name="x-fade">
       <div class="weui-mask" @click="hideOnBlur && (currentValue = false)" v-show="currentValue"></div>
    </transition>
    <input style="display:none" v-model="currentValue">
    <transition name="x-pop">
      <div class="weui-dialog" v-show="currentValue" >
        <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    hideOnBlur: {
      type: Boolean,
      default: false
    },
    scroll: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      currentValue: false
    }
  },
  created () {
    if (typeof this.value !== 'undefined') {
      this.currentValue = this.value
    }
  },
  watch: {
    value (val) {
      this.currentValue = val
    },
    currentValue (val) {
      this.$emit(val ? 'on-show' : 'on-hide')
      this.$emit('input', val)
    }
  },
  methods: {
    onTouchMove: function (event) {
      !this.scroll && event.preventDefault()
    }
  }
}
</script>

<style lang="less">
@import '../../styles/weui/widget/weui-tips/weui-mask';
@import '../../styles/weui/widget/weui-tips/weui-dialog';
@import '../../styles/xui/x-transition';
</style>
