<template>
  <div class="x-scroll-container" :id="containerId"
       @touchstart="touchStart($event)"
       @touchmove="touchMove($event)"
       @touchend="touchEnd($event)"
       @mousedown="mouseDown($event)"
       @mousemove="mouseMove($event)"
       @mouseup="mouseUp($event)"
  >

    <div class="content" :id="contentId" :style="contentStyle">
      <div v-if="onRefresh" class="pull-to-refresh-layer" :class="{'active': state == 1, 'active refreshing': state == 2}">
        <span class="spinner-holder">
          <arrow class="arrow" v-if="state != 2"></arrow>
          <spinner class="spinner" v-if="state == 2"></spinner>
          <span class="text" v-if="state == 0">{{refreshText}}</span>
          <span class="text" v-if="state == 1">{{releaseText}}</span>
        </span>
      </div>

      <slot></slot>

      <div v-if="onInfinite" class="loading-layer">
        <span class="spinner-holder" :class="{'active': showLoading && state != 2}">
          <spinner class="spinner"></spinner>
        </span>

        <div class="no-data-text"
          :class="{'active': !showLoading && loadingState == 2}" v-text="noDataText">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Arrow from './svg/arrow'
  import Spinner from './svg/spinner'
  import Scroller from './module/core'
  import Render from './module/render'
  
  const re = /^[\d]+(%)?$/

  const widthAndHeightCoerce = (v) => {
    if (v[v.length - 1] !== '%') return v + 'px'
    return v
  }

  const widthAndHeightValidator = (v) => {
    return re.test(v)
  }

  export default {
    components: {
      Arrow,
      Spinner
    },
    props: {
      onRefresh: Function,
      onInfinite: Function,
      refreshText: {
        type: String,
        default: '下拉刷新'
      },
      releaseText: {
        type: String,
        default: '释放更新'
      },
      noDataText: {
        type: String,
        default: '没有更多数据'
      },
      width: {
        type: String,
        default: '100%',
        validator: widthAndHeightValidator
      },
      height: {
        type: String,
        default: '100%',
        validator: widthAndHeightValidator
      },
      snapping: {
        type: Boolean,
        default: false
      },
      snapWidth: {
        type: Number,
        default: 100
      },
      snapHeight: {
        type: Number,
        default: 100
      },
      animating: {
        type: Boolean,
        default: true
      },
      animationDuration: {
        type: Number,
        default: 250
      },
      bouncing: {
        type: Boolean,
        default: true
      },
      contentStyle: Object
    },
    computed: {
      w: function () {
        return widthAndHeightCoerce(this.width)
      },
      h: function () {
        return widthAndHeightCoerce(this.height)
      }
    },
    data () {
      return {
        containerId: 'outer-' + Math.random().toString(36).substring(3, 8),
        contentId: 'inner-' + Math.random().toString(36).substring(3, 8),
        state: 0, // 0: pull to refresh, 1: release to refresh, 2: refreshing
        loadingState: 0, // 0: stop, 1: loading, 2: stopping loading
        showLoading: false,
        container: undefined,
        content: undefined,
        scroller: undefined,
        pullToRefreshLayer: undefined,
        mousedown: false,
        infiniteTimer: undefined
      }
    },
    mounted () {
      this.container = document.getElementById(this.containerId)
      this.container.style.width = this.w
      this.container.style.height = this.h
      this.content = document.getElementById(this.contentId)
      this.pullToRefreshLayer = this.content.getElementsByTagName('div')[0]
      let render = Render(this.content)

      this.scroller = new Scroller(render, {
        scrollingX: false,
        snapping: this.snapping,
        animating: this.animating,
        animationDuration: this.animationDuration,
        bouncing: this.bouncing
      })

      // enable PullToRefresh
      if (this.onRefresh) {
        this.scroller.activatePullToRefresh(60, () => {
          this.state = 1
        }, () => {
          this.state = 0
        }, () => {
          this.state = 2
          this.$on('$finishPullToRefresh', () => {
            setTimeout(() => {
              this.state = 0
              this.finishPullToRefresh()
            })
          })
          this.onRefresh()
        })
      }

      // enable infinite loading
      if (this.onInfinite) {
        this.infiniteTimer = setInterval(() => {
          if (this.loadingState === 2) {
            return
          }
          let { top } = this.scroller.getValues()
          if (this.content.offsetHeight - this.container.clientHeight < 60) {
            top = top - 60
          }
          if (top + 60 > this.content.offsetHeight - this.container.clientHeight) {
            if (this.loadingState) return
            this.loadingState = 1
            this.showLoading = true
            this.onInfinite()
          }
        }, 10)
      }
      // setup scroller
      let rect = this.container.getBoundingClientRect()
      this.scroller.setPosition(rect.left + this.container.clientLeft, rect.top + this.container.clientTop)
      // snapping
      if (this.snapping) {
        // console.log(this.snapWidth, this.snapHeight)
        this.scroller.setSnapSize(this.snapWidth, this.snapHeight)
      }
    },
    destroyed () {
      if (this.infiniteTimer) clearInterval(this.infiniteTimer)
    },
    methods: {
      resize () {
        let container = this.container
        let content = this.content
        this.scroller.setDimensions(container.clientWidth, container.clientHeight, content.offsetWidth, content.offsetHeight)
      },
      finishPullToRefresh () {
        this.scroller.finishPullToRefresh()
        setTimeout(() => {
          this.resize()
        })
      },
      triggerPullToRefresh () {
        this.scroller.triggerPullToRefresh()
      },
      scrollTo (x, y, animate) {
        this.scroller.scrollTo(x, y, animate)
      },
      scrollBy (x, y, animate) {
        this.scroller.scrollBy(x, y, animate)
      },
      touchStart (e) {
        // Don't react if initial down happens on a form element
        if (e.target.tagName.match(/input|textarea|select/i)) {
          return
        }
        this.scroller.doTouchStart(e.touches, e.timeStamp)
      },
      touchMove (e) {
        e.preventDefault()
        this.scroller.doTouchMove(e.touches, e.timeStamp)
      },
      touchEnd (e) {
        this.scroller.doTouchEnd(e.timeStamp)
      },
      mouseDown (e) {
        // Don't react if initial down happens on a form element
        if (e.target.tagName.match(/input|textarea|select/i)) {
          return
        }
        this.scroller.doTouchStart([{
          pageX: e.pageX,
          pageY: e.pageY
        }], e.timeStamp)
        this.mousedown = true
      },
      mouseMove (e) {
        if (!this.mousedown) {
          return
        }
        this.scroller.doTouchMove([{
          pageX: e.pageX,
          pageY: e.pageY
        }], e.timeStamp)
        this.mousedown = true
      },
      mouseUp (e) {
        if (!this.mousedown) {
          return
        }
        this.scroller.doTouchEnd(e.timeStamp)
        this.mousedown = false
      },
      getPosition () {
        let v = this.scroller.getValues()
        return {
          left: parseInt(v.left),
          top: parseInt(v.top)
        }
      },
      resetLoadingState () {
        let { top } = this.scroller.getValues()
        if (top + 60 > this.content.offsetHeight - this.container.clientHeight) {
          setTimeout(() => {
            this.resetLoadingState()
            this.resize()
          }, 1000)
        } else {
          this.loadingState = 0
        }
      },
      finishInfinite (hideSpinner) {
        this.loadingState = hideSpinner ? 2 : 0
        this.showLoading = false
        setTimeout(() => {
          this.resize()
        })

        if (this.loadingState === 2) {
          this.resetLoadingState()
        }
      },
      resetInfinite () {
        this.loadingState = 0
      }
    }
  }
</script>
<style lang="less" scoped>
  @import '../../styles/xui/x-scroll';
</style>

