<template>
    <div>
        <transition name="nav">
            <div v-show="!hide" class="x-nav-bar">
                <transition name="nav-item">
                    <div v-if="showBackButton" class="x-nav-bar-back" @click.prevent="backButtonClicked">
                        <div v-if="backButtonTemp" v-html="backButtonTemp"></div>
                        <icon v-else name="chevron-left" scale="1.2"></icon>
                    </div>
                </transition>
                <transition name="nav-item">
                    <div v-if="title" class="x-nav-bar-title">{{title}}</div>
                </transition>
                <transition name="nav-item">
                    <div v-if="showMenuButton" class="x-nav-bar-menu" @click.prevent="menuButtonClicked">
                        <div v-if="menuButtonTemp" v-html="menuButtonTemp"></div>
                        <icon v-else name="ellipsis-v" scale="1.2"></icon>
                    </div>
                </transition>
            </div>
        </transition>
    </div>
</template>
<script>
import Icon from '../icon'
import {mapState} from 'vuex'

export default {
  components: {
    Icon
  },
  computed: {
    ...mapState({
      title: state => state.nav.title,
      hide: state => state.nav.hide,
      direction: state => state.nav.direction,
      showBackButton: state => state.nav.showBackButton,
      showMenuButton: state => state.nav.showMenuButton,
      backButtonTemp: state => state.nav.backButtonTemp,
      menuButtonTemp: state => state.nav.menuButtonTemp,
      onBackButtonEvent: state => state.nav.onBackButtonEvent,
      onMenuButtonEvent: state => state.nav.onMenuButtonEvent
    })
  },
  methods: {
    backButtonClicked () {
      if (this.onBackButtonEvent) {
        this.onBackButtonEvent()
        return
      }
      window.history.back()
    },
    menuButtonClicked () {
      if (this.onMenuButtonEvent) {
        this.onMenuButtonEvent()
        return
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import '../../styles/xui/x-nav-bar';
</style>
