<template>
  <div class="weui-cell" :class="{'weui-cell_access': !!link, 'no-indent': !$parent.indent}" @click.prevent="onClicked">
    <div class="weui-cell__hd" :style="headerStyle">
      <slot name="icon"></slot>
    </div>
    <div class="weui-cell__bd" :style="bodyStyle">
      <slot></slot>
    </div>
    <div class="weui-cell__ft" :style="footerStyle"  :class="{'no-forward-arrow': $parent.hideForwardArrow}">
      {{desc}}
      <slot name="desc"></slot>
    </div>
  </div>
</template>

<script>
import { go } from '../../libs/router'

export default {
  props: {
    title: String,
    desc: [String, Number],
    headerStyle: [String, Object],
    bodyStyle: [String, Object],
    footerStyle: [String, Object],
    link: {
      type: [String, Object]
    }
  },
  methods: {
    onClicked () {
      go(this.link, this.$router)
    }
  }
}
</script>

<style lang="less" scoped>
.weui-cell{
   padding-top:12px;
   padding-bottom:10px;
   &.no-indent {
       &:before {
          left:0;
       } 
   }
}
.weui-cell_access .weui-cell__ft{
   &.no-forward-arrow {
       padding-right:0;
       position:static;
       &:after {
          display:none;
       } 
   }
}
.weui-cell_access{
    user-select:none;
    -webkit-user-select:none;
    .weui-cell__ft{
       &:after {
          height: 7px;
          width: 7px;
          margin-top:-5px;
       }
    }
}
.weui-cell__ft{
    color:#aaa;
}
.weui-cell__hd{
  line-height: 1;
}
</style>
