<template>
  <div>
    <div class="weui-cells__title" v-if="title" :style="titleStyle" v-html="title"></div>
    <div class="weui-cells">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    titleStyle: [String, Object],
    indent: {
      type: Boolean,
      default: true
    },
    hideForwardArrow: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="less" scoped>
  @import "../../styles/weui/base/fn";
  @import '../../styles/weui/widget/weui-cell/weui-access';
  @import '../../styles/weui/widget/weui-cell/weui-cell_global';
  .weui-cells {
    font-size:14px;
    line-height:1.6;
    &:first-child {
      margin-top:0
    }
  }
  .weui-cells__title {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    line-height: 14px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444444;
    margin-top:0;
    margin-bottom:0;
    .setTapColor();
  }
</style>
