<template>
  <div>
    <transition name="page">
       <router-view></router-view>
    </transition>
  </div>
</template>

<script>
  export default {
    props: {
      tabs: {
        type: Array
      },
      options: Object,
      activeColor: String
    },
    watch: {
      tabs (tabs) {
        this.$nextTick(() => {
          setTimeout(() => {
            this.$store.dispatch('updateTab', {show: true, options: this.options, activeColor: this.activeColor, items: this.tabs})
          })
        })
      }
    },
    beforeDestroy () {
      this.$store.dispatch('updateTab', {show: false, options: undefined, activeColor: undefined, items: []})
    }
  }
</script>

<style lang="less" scoped>
  @import '../../styles/xui/x-nav-view';
</style>
