<template>
    <nav-view :has-nav-bar="false" :keep-alive="/smsg|bforum|msgd|topic|vediolist|vediodetail/">
    </nav-view>
</template>

<script>
import navView from './components/nav-view'
export default {
  name: 'app',
  components: {
    navView
  }
}
</script>

<style lang="less">
@import '../src/styles/xui/x-base';
@import '../src/styles/xui/x-emoji';
body {
  font-family:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
}
</style>
