<template>
  <svg version="1.1" :class="css" :role="role" :aria-label="label" :x="x" :y="y" :width="width" :height="height" :viewBox="box" :style="style">
    <path v-if="icon" :d="icon.d" />
  </svg>
</template>

<script>
import icons from './icons/icons.js'

export default {
  name: 'icon',
  props: {
    name: {
      type: String,
      validator (val) {
        if (val) {
          return val in icons
        }
        return null
      }
    },
    scale: [Number, String],
    spin: Boolean,
    inverse: Boolean,
    flip: {
      type: String,
      validator (val) {
        return val === 'horizontal' || val === 'vertical'
      }
    },
    label: String
  },
  data () {
    return {
      x: false,
      y: false,
      outerScale: 1
    }
  },
  computed: {
    normalizedScale () {
      let scale = this.scale
      scale = typeof scale === 'undefined' ? 1 : Number(scale)
      if (isNaN(scale) || scale <= 0) {
        return this.outerScale
      }
      return scale * this.outerScale
    },
    css () {
      return {
        'fa-icon': true,
        'fa-spin': this.spin,
        'fa-flip-horizontal': this.flip === 'horizontal',
        'fa-flip-vertical': this.flip === 'vertical',
        'fa-inverse': this.inverse
      }
    },
    icon () {
      if (this.name) {
        return icons[this.name]
      }
      return null
    },
    role () {
      return this.label ? 'img' : 'presentation'
    },
    box () {
      if (this.icon) {
        return `0 0 ${this.icon.width} ${this.icon.height}`
      }
      return `0 0 ${this.width} ${this.height}`
    },
    width () {
      return this.icon && this.icon.width / 112 * this.normalizedScale || 0
    },
    height () {
      return this.icon && this.icon.height / 112 * this.normalizedScale || 0
    },
    style () {
      if (this.normalizedScale === 1) {
        return false
      }
      return {
        fontSize: this.normalizedScale + 'em'
      }
    }
  }
}
</script>

<style scoped>
    .fa-icon {
        display: inline-block;
        fill: currentColor;
    }
    
    .fa-icon > path {
        transform-origin: 50% 50%;
    }
    
    .fa-flip-horizontal > path {
        transform: scale(-1, 1);
    }
    
    .fa-flip-vertical > path {
        transform: scale(1, -1);
    }
    
    .fa-spin > path {
        animation: fa-spin 1s 0s infinite linear;
    }
    
    .fa-inverse {
        color: #fff;
    }
    
    @keyframes fa-spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
