.article {
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
    background-color: #ffffff;
    padding: 20px 15px;
    .header {
        h2 {
            color: #000000;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 6px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
        }
        .remark {
            color: #aaa;
            font-size: 14px;
            margin-bottom: 5px;
            span {
                margin-right: 8px;
            }
            .author {
               &:active {
                  color: #F257A9;
               }
            }
        }
    }
    .body {
        img {
            max-width: 100%;
        }
    }
}