   .comments {
       font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
       margin-top: 10px;
       background-color: #ffffff;
       line-height: 30px;
       .comment-header {
           margin: 0 15px;
           padding-top: 10px;
           border-bottom: 1px solid #dddddd;
           span {
               font-size: 16px;
               font-weight: 700;
               padding: 4px 3px;
               border-bottom: 3px solid #F257A9;
               .number {
                   color: #bbbbbb;
               }
           }
       }
       .comment-body {
           margin-top: 15px;
           min-height: 55px;
           .warp {
               position: relative;
               -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
               padding: 1px;
               &:before {
                   content: " ";
                   position: absolute;
                   top: 0;
                   right: 15px;
                   height: 1px;
                   border-top: 1px solid #D9D9D9;
                   left: 65px;
                   transform-origin: 0 0;
                   transform: scaleY(0.5);
               }
               &:first-child {
                   &:before {
                       display: none;
                   }
               }
               .comment-box {
                   margin-top: 0;
                   padding: 7px 14px;
                   display: flex;
                   display: -webkit-flex;
                   .c-lt {
                       position: relative;
                       width: 40px;
                       margin-right: 10px;
                       img {
                           height: 40px;
                           width: 40px;
                           border-radius: 100%;
                       }
                   }
                   .c-rt {
                       width: 100%;
                       .hd {
                           display: flex;
                           display: -webkit-flex;
                           .hd-lt {
                               width: 100%;
                               .name {
                                   color: #666;
                                   font-size: 13px;
                                   line-height: 20px;
                               }
                               .time {
                                   font-size: 12px;
                                   color: #aaa;
                                   line-height: 20px;
                               }
                           }
                           .hd-rt {
                               width: 60px;
                               .actions {
                                   color:#999;
                                   font-size:14px;
                                   i,span {
                                      float: right;
                                      line-height: 20px;
                                      min-width:10px;
                                   }
                                   i svg {
                                       padding-top:2px;
                                       padding-right:2px;
                                   }
                                   i.yes {
                                      color: #F53D3D;
                                   }
                               }
                           }
                       }
                       .bd {
                           padding-top: 3px;
                           padding-bottom: 3px;
                           word-wrap: break-word;
                           word-break: break-all; 
                       }
                   }
               }
               .replay-box {
                   margin-top: 0;
                   padding: 8px 15px;
                   padding-top: 0;
                   display: flex;
                   display: -webkit-flex;
                   .r-lt {
                       position: relative;
                       min-width: 50px;
                   }
                   .r-rt {
                       width: 100%;
                       .x-media-box {
                           padding: 5px;
                           margin-top: 0;
                           background-color: #f4f4f4;
                           &:active {
                               background-color: #ECECEC;
                           }
                           p {
                               color: #666;
                               font-size: 13px;
                               line-height: 20px;
                               margin-bottom: 4px;
                               word-wrap: break-word;
                               word-break: break-all; 
                               &:last-child {
                                   margin-bottom: 0;
                               }
                               span {
                                   padding-right: 2px;
                                   color: #6ba7f5;
                               }
                               .content {
                                   color: #222;
                               }
                           }
                       }
                   }
               }
               .no-comments {
                   height: 150px;
                   line-height: 130px;
                   vertical-align: middle;
                   text-align: center;
                   color: #bbb;
               }
           }
       }
   }