<template>
  <button class="x-btn" :class="classes" :disabled="disabled">
    <slot name="icon"></slot>{{text}}<slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'default',
      validator (value) {
        return [
          'light',
          'default',
          'primary',
          'danger',
          'pink'
        ].indexOf(value) > -1
      }
    },
    disabled: Boolean,
    round: Boolean,
    outline: Boolean,
    block: Boolean,
    small: Boolean,
    text: String
  },
  computed: {
    classes () {
      return [
        {
          'x-btn-small': this.small,
          'x-btn-round': this.round,
          'x-btn-inline': this.block
        },
        this.outline && this.disabled ? `x-btn-outline-disabled` : this.disabled ? `x-btn-disabled` : ``,
        this.outline ? `x-btn-outline-${this.color}` : `x-btn-${this.color}`
      ]
    }
  }
}
</script>

<style lang="less">
  @import '../../styles/xui/x-button.less';
</style>
