<template>
  <div class="x-alert">
    <x-dialog v-model="showValue" @on-hide="$emit('on-hide')" @on-show="$emit('on-show')">
      <div class="weui-dialog__hd">
        <strong class="weui-dialog__title">{{title}}</strong>
      </div>
      <div class="weui-dialog__bd">
        <slot></slot>
      </div>
      <div class="weui-dialog__ft">
        <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" @click="onHide">{{okText || '确定'}}</a>
      </div>
    </x-dialog>
  </div>
</template>

<script>
import XDialog from '../dialog'

export default {
  components: {
    XDialog
  },
  props: {
    value: Boolean,
    title: String,
    okText: String
  },
  data () {
    return {
      showValue: false
    }
  },
  created () {
    if (typeof this.value !== 'undefined') {
      this.showValue = this.value
    }
  },
  methods: {
    onHide () {
      this.showValue = false
    }
  },
  watch: {
    value (val) {
      this.showValue = val
    },
    showValue (val) {
      this.$emit('input', val)
    }
  }
}
</script>
