<template>
  <div>
    <scroller :on-refresh="refresh" :on-infinite="infinite" ref="my_scroller">
      <list hide-forward-arrow>
         <list-item v-for="item in data" :key="item.SubscriptionID" :link="{path: '/demo/detail/' + item.SubscriptionID }">
           <img class="avatar" :src="item.HeaderImgUrl"  slot="icon" />
           <p>{{item.Name}}</p><div class="text" v-if="item.LastSubscriptionContent" v-html="item.LastSubscriptionContent.Title"></div><p v-else>&nbsp;</p>
           <div slot="desc">
                <p style="color:#aaa;font-size:12px;" v-if="item.LastSubscriptionContent">{{item.LastSubscriptionContent.PublishTime | format}}</p>
                <p>&nbsp;</p>
           </div>
         </list-item>
      </list>
    </scroller>
  </div>
</template>

<script>
  import Scroller from '../components/scroll'
  import { List, ListItem } from '../components/list'
  import format from '../filters/time'

  export default {
    name: 'api',
    components: {
      Scroller,
      List,
      ListItem
    },
    filters: {
      format: (val) => format(new Date(val), 'MM\u6708DD\u65e5')
    },
    data () {
      return {
        items: [],
        i: 0,
        x: 0,
        y: 0,
        timer: 0,
        data: []
      }
    },
    mounted () {
      // setTimeout(() => {
      //  this.$refs.my_scroller.resize()
      // })
    },
    methods: {
      init () {
        this.$http.get('/api/Subscription/SubscriptionApi/GetSubscriptionList', { params: { isFocus: true, pageIndex: 0, pageSize: 20 } }).then(
          response => {
            let re = response.body
            if (re.Success) {
              this.data = re.Object.List
            }
          },
          response => {
            console.log(response)
          })
      },
      refresh () {
        setTimeout(() => {
          this.init()
          if (this.$refs.my_scroller) {
            this.$refs.my_scroller.finishPullToRefresh()
          }
        }, 100)
      },
      infinite () {
        setTimeout(() => {
          if (this.i === 2) {
            this.$refs.my_scroller.finishInfinite(true)
            return
          }
          this.init()
          setTimeout(() => {
            if (this.$refs.my_scroller) {
              this.$refs.my_scroller.finishInfinite()
            }
          })
          this.i++
        }, 500)
      }
    }
  }
</script>
<style lang="css" scoped>
   .avatar {
     height:48px;
     width:48px;
     margin-right:15px;
   }
   .text{
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     word-wrap: normal;
     color:#aaa;
   }
</style>
