<template>
    <div>
        <div class="article">
            <div class="header">
                <h2>{{title}}</h2>
                <div class="remark"><span class="author" @click="showUserInfo($event, authorId)">{{author}}</span><span class="time">{{date | datetime}}</span></div>
            </div>
            <div v-if="type === 2" class="body">
                <img :src="content" alt="vip" />
            </div>
            <div v-else class="body" v-html="content"></div>
        </div>
    </div>
</template>

<script>
  import comment from '../mixins/comment-methods'
  export default {
    name: 'arti',
    mixins: [comment],
    props: {
      title: String,
      authorId: String,
      author: String,
      date: String,
      type: Number,
      content: String
    }
  }
</script>

<style lang="less" scoped>
   @import '../styles/article';
</style>
