<template>
  <div>
      <img v-if="src" :src="src" alt="avatar" vipalt="false" @click="onClicked($event)"/>
      <img v-else src="../assets/avatar.png" alt="avatar" vipalt="false"  @click="onClicked($event)"/>
  </div>
</template>
 
<script>
  export default {
    props: {
      src: String
    },
    methods: {
      onClicked (e) {
        this.$emit('on-click', e)
      }
    }
  }
</script>
