<template>
  <div v-nav="{title: '徽章'}">
     <list title="列表">
        <list-item :link="{path: '/demo/badge'}"><p>标题文字 <badge text="3"></badge></p></list-item>
        <list-item :link="{path: '/demo/badge'}" desc="详细信息"><p>标题文字 <badge text="3"></badge></p></list-item>
        <list-item :link="{path: '/demo/badge'}" desc="详细信息"><p>标题文字 <badge text="new"></badge></p></list-item>
        <list-item desc="详细信息" :link="{path: '/demo/badge'}"><p>标题文字</p><badge slot="desc"></badge></list-item>
        <list-item :link="{path: '/demo/badge'}" header-style="position: relative;margin-right:10px;">
        <div slot="icon" style="height:50px;width:50px;display:block;background-color:#ddd;">
        <badge text="8" style="position: absolute;top: -.4em;right: -.4em;"></badge>
        </div>
        <p>标题文字</p>
        <p style="font-size:12px;color:#aaa">摘要信息</p>
        </list-item>
     </list>
     <list title="选项卡">
       <item>见 TabBar Demo</item>
     </list>
     &nbsp;&nbsp;&nbsp;<badge text="3"></badge>
  </div>
</template>

<script>
import { List, ListItem } from '../components/list'
import Badge from '../components/badge'

export default {
  components: {
    List,
    ListItem,
    Badge
  }
}
</script>
