<template>
    <div>
        <scroller :on-infinite="infinite" ref="scroller">
            <list class="_header">
                <list-item header-style="position: relative;margin-right:10px;vertical-align:top;">
                    <div slot="icon" style="width:90px;">已报名人数</div>
                    <p style="color:#aaa">{{joined}}</p>
                </list-item>
                <list-item header-style="position: relative;margin-right:10px;vertical-align:top;">
                    <div slot="icon" style="width:90px;">已通过人数</div>
                    <p style="color:#aaa">{{passed}}</p>
                </list-item>
                <list-item header-style="position: relative;margin-right:10px;vertical-align:top;">
                    <div slot="icon" style="width:90px;">未通过人数</div>
                    <p style="color:#aaa">{{failed}}</p>
                </list-item>
            </list>
            <div class="_list">
             <flexbox class="_item">
                <flexbox-item>姓名</flexbox-item>
                <div style="width:92px;text-align:center;">申请时间</div>
                <div style="width:65px;text-align:center;">状态</div>
            </flexbox>
            <flexbox v-for="(item, index) in data" :key="index" class="_item">
                <flexbox-item>{{item.Name}}</flexbox-item>
                <div style="width:92px;text-align:right;">{{item.Dateline | datetime}}</div>
                <div style="width:60px;text-align:left;padding-left:5px;">{{item.JoinStatus}}</div>
            </flexbox>
            </div>
        </scroller>
    </div>
</template>

<script>
  import Scroller from '../components/scroll'
  import { List, ListItem } from '../components/list'
  import { Flexbox, FlexboxItem } from '../components/flexbox'
  import filter from '../filters/time'
  import service1 from '../services/bbs/getAtivityJoinInfo'
  import service2 from '../services/bbs/getAtivityJoinList'

  export default {
    name: 'atil',
    components: {
      Scroller,
      List,
      ListItem,
      Flexbox,
      FlexboxItem
    },
    filters: {
      datetime: (val) => filter(new Date(val.replace(/ /, 'T')), 'MM-DD HH:mm')
    },
    data () {
      return {
        id: this.$route.params.id,
        title: '',
        joined: 0,
        passed: 0,
        failed: 0,
        data: []
      }
    },
    mounted () {
      this.getAtivityInfo()
      service2.init()
    },
    methods: {
      getAtivityInfo () {
        service1.get(this.$http, { contentId: this.$route.params.id }).then(data => {
          this.title = data.Title
          this.joined = data.ApplyTotalNumber
          this.passed = data.ApplyPassNumber
          this.failed = data.ApplyPassFailedNumber
          console.log(data)
        }, status => {
          console.log(status)
        })
      },
      infinite () {
        setTimeout(() => {
          service2.get(this.$http, { contentId: this.$route.params.id }).then(data => {
            this.data = data.list
            console.log(data)
            this.$refs.scroller.finishInfinite(data.hasMore)
          }, status => {
            this.$refs.scroller.finishInfinite(true)
          })
        })
      }
    }
  }
</script>

<style lang="less" scoped>
   ._header {
      margin-top:12px;
   }
   ._list {
      margin-top:12px;
      font-size:14px;
      background-color: #fff;
      padding:0 15px;
      color: #555;
   }
   ._item {
      line-height: 44px;
      border-top: 1px solid #eee;
   }
</style>
