<template>
   <div>
     <scroller  :on-infinite="infinite" ref="scroller" :contentStyle="{'padding-bottom':'45px'}" :no-data-text="noData">
        <div class="article">
            <div class="header">
               <h2>{{title}}</h2>
                <div class="remark"><span class="author" @click="showUserInfo($event, authorId)">{{author}}</span><span class="time">{{date | datetime}}</span></div>        
            </div>
            <div class="body" v-if="img">
                <img :src="img" alt="vip"/>
            </div>
            <div class="footer">
                <div class="recommend"></div>
            </div>
        </div>
        <div class="ativity">
            <list style="margin-top:10px;">
                <list-item  header-style="position: relative;margin-right:10px;vertical-align:top;">
                   <div slot="icon" style="width:90px;">活动简介</div><p style="color:#aaa">{{ativity.summary}}</p>
                </list-item>
                <list-item  header-style="position: relative;margin-right:10px;vertical-align:top;">
                   <div slot="icon" style="width:90px;">活动类型</div><p style="color:#aaa">{{ativity.type}}</p>
                </list-item>
                <list-item  header-style="position: relative;margin-right:10px;vertical-align:top;">
                   <div slot="icon" style="width:90px;">开始时间</div><p style="color:#aaa">{{ativity.stime | datetime}}</p>
                </list-item>
                <list-item  header-style="position: relative;margin-right:10px;vertical-align:top;">
                   <div slot="icon" style="width:90px;">结束时间</div><p style="color:#aaa">{{ativity.etime | datetime}}</p>
                </list-item>
                <list-item  header-style="position: relative;margin-right:10px;vertical-align:top;">
                   <div slot="icon" style="width:90px;">性别</div><p style="color:#aaa">{{ativity.gender}}</p>
                </list-item>
                <list-item  header-style="position: relative;margin-right:10px;vertical-align:top;">
                   <div slot="icon" style="width:90px;">活动地点</div><p style="color:#aaa">{{ativity.addr}}</p>
                </list-item>
                <list-item  header-style="position: relative;margin-right:10px;vertical-align:top;" v-if="ativity.cost > 0 ">
                   <div slot="icon" style="width:90px;">活动预算</div><p style="color:#aaa">{{ativity.cost}} 元</p>
                </list-item>
            </list>
            <list style="margin-top:10px;">
                <list-item  header-style="position: relative;margin-right:10px;vertical-align:top;">
                   <div slot="icon" style="width:90px;">报名人数</div><p style="color:#aaa">{{joinCount === -1 ? '不限' : joinCount}}</p>
                </list-item>
                <list-item  header-style="position: relative;margin-right:10px;vertical-align:top;">
                   <div slot="icon" style="width:90px;">剩余人数</div><p style="color:#aaa">{{ativity.banlance === -1 ? '不限' : ativity.banlance}}</p>
                </list-item>
                <list-item  header-style="position: relative;margin-right:10px;vertical-align:top;">
                   <div slot="icon" style="width:90px;">报名截止</div><p style="color:#aaa">{{ativity.expiration | datetime}}</p>
                </list-item>
            </list>
            <list style="margin-top:10px;">
                <list-item desc="点击查看":link="{path: '/bbs/ativity/join/' + this.id}">
                   <p style="color:#ff0000;">报名详情<span v-if="joined" style="color:#aaa;padding-left:8px;">(已报名)</span></p>
                </list-item>
            </list>
        </div>
        <div style="margin:20px;">
            <x-button @click.native="apply(joined ? 0 : 1)" color="pink" v-text="">{{joined ? '取消报名':'我要报名'}}</x-button>
        </div>
        <div class="article">
           <p class="body" v-html="ativity.desc"></p>
         </div>
        <div class="comments">
           <div class="comment-header">
              <span>评论 <i class="number">{{commentCount}}</i></span>
           </div>
            <div class="comment-body">
                <div class="warp" v-for="(item, index) in data" :key="item.SubscriptionCommentId">
                   <media class="comment-box" @on-click="showMenu(item)">
                      <div class="c-lt">
                         <img :src="item.User.UserHeadImage" alt="avatar" vipalt="false"  @click="showUserInfo($event, item.User.UserID)"/>
                      </div>
                      <div class="c-rt">
                         <div class="hd">
                            <div class="hd-lt">
                               <p class="name">{{item.User.UserName || '匿名'}}</p>
                               <p class="time">{{item.CommentTime | datetime}}</p>
                            </div>
                            <div class="hd-rt">
                               <p class="actions"><span>{{item.CommentLikeCount}}</span><i :class="{'yes': item.IsLike}"><icon name="thumbs-o-up" scale="0.9"></icon></i></p>
                               <p>&nbsp;</p>
                            </div>
                         </div>
                         <div class="bd" v-html="item.Content"></div>
                     </div>
                  </media>
                  <div class="replay-box" v-if="item.ReplyCount>0">
                      <div class="r-lt">
                         <div></div>
                      </div>
                      <div class="r-rt">
                         <media  @on-click="viewReply(item.ExternalCommentId)">
                            <p v-for="(subitem, index) in item.ReplyComments" :key="subitem.ReplyID">
                               <span>{{subitem.ReplyUser.UserName || '匿名'}}</span>:
                               <span class="content" v-html="subitem.ReplyContent"></span>
                            </p>
                            <p><span>共{{item.ReplyCount}}条回复 ></span></p>
                         </media>
                      </div>               
                  </div>
              </div>
            <div class="warp" v-if="commentCount===0">
               <div class="no-comments">还没有人评论</div>
            </div>
          </div>
        </div>
     </scroller>
     <comment-action :praised="like" :commentTotal="commentCount" @on-input="comment"  @on-praise="praise" v-if="allowComment"></comment-action>
     <context-menu v-model="menuDlg" :praised="commentLike" :allow-delete="isOwner && allowComment" :allow-reply="allowComment" @on-reply="replyComment" @on-praise="praiseComment" @on-delete="deleteComment"></context-menu>
   </div>
</template>


<script>
  import Scroller from '../components/scroll'
  import Media from '../components/media'
  import { List, ListItem } from '../components/list'
  import XButton from '../components/button'
  import Icon from '../components/icon'
  import service1 from '../services/bbs/getAtivity'
  import service2 from '../services/bbs/getCommentList'
  import service3 from '../services/bbs/postTopicPraiseAct'
  import service4 from '../services/bbs/postCommentPraiseAct'
  import service5 from '../services/bbs/postAtivityApplyAct'
  import service6 from '../services/bbs/postCommentDeleteAct'
  import ContextMenu from './CommentContextMenu'
  import CommentAction from './CommentAction'
  import comment from '../mixins/comment-methods'

  export default {
    name: 'ativ',
    mixins: [comment],
    components: {
      Scroller,
      Media,
      List,
      ListItem,
      XButton,
      Icon,
      ContextMenu,
      CommentAction
    },
    data () {
      return {
        id: this.$route.params.id,
        title: '',
        author: '',
        img: '',
        date: '',
        data: [],
        commentCount: 1000,
        likeCount: 0,
        alive: true,
        ativity: {},
        joined: false,
        joinCount: 0,
        refresh: false,
        currentComment: {},
        menuDlg: false,
        commentLike: false,
        like: false,
        isOwner: false,
        allowComment: true,
        noData: ''
      }
    },
    mounted () {
      this.$moaapi.updateNavTitle('消息正文')
      this.getAtivity()
      service2.init()
    },
    methods: {
      praise (type) {
        service3.post(this.$http, { contentId: this.id, type: type }).then(data => {
          this.like = type
        }, status => {
          this.$toast.show({text: '亲，系统被玩坏了，请稍后重试', position: 'bottom', width: '260px'})
        })
      },
      comment () {
        this.$router.push({path: '/bbs/comment/post/' + this.id + '/' + this.account})
        this.refresh = true // 开启刷新
      },
      showMenu (item) {
        this.currentComment = item
        this.commentLike = this.currentComment.IsLike
        this.isOwner = this.currentComment.IsOwner
        this.menuDlg = true
      },
      praiseComment () {
        service4.post(this.$http, { commentId: this.currentComment.ExternalCommentId, type: this.currentComment.IsLike ? 0 : 1 }).then(data => {
          this.currentComment.CommentLikeCount += this.currentComment.IsLike ? -1 : 1
          this.currentComment.IsLike = !this.currentComment.IsLike
          this.menuDlg = false
        }, status => {
          this.$toast.show({text: '亲，系统被玩坏了，请稍后重试', position: 'bottom', width: '260px'})
        })
      },
      replyComment () {
        this.$router.push({path: '/bbs/comment/post/' + this.id + '/' + this.currentComment.ExternalCommentId + '/' + (this.currentComment.AuthorAccount || 'none')})
        this.refresh = true // 开启刷新
        this.menuDlg = false
      },
      deleteComment () {
        let confirm = () => {
          service6.post(this.$http, { commentId: this.currentComment.ExternalCommentId }).then(data => {
            this.commentCount -= 1
            let i = this.data.indexOf(this.currentComment)
            if (i !== -1) {
              this.data.splice(i, 1)
            }
          }, status => {
            this.$toast.show({text: '亲，系统被玩坏了，请稍后重试', position: 'bottom', width: '260px'})
          })
        }
        this.menuDlg = false
        this.$confirm.show({title: '删除评论', content: '删除评论后，评论下所有的回复都会被删除', onConfirm: confirm})
      },
      viewReply (id) {
        this.$router.push({path: '/bbs/comment/detail/' + id + '/' + this.id + '/' + (this.allowComment ? 1 : 0)})
        this.refresh = true // 开启刷新
      },
      getAtivity () {
        service1.get(this.$http, { contentId: this.$route.params.id }).then(data => {
          this.title = data.Title
          this.authorId = data.UserID
          this.author = data.Author || '匿名'
          this.date = data.PublishTime
          this.img = data.ImgURL
          this.commentCount = data.CommentCount
          this.ativity.desc = data.Content
          this.ativity.summary = data.Summary
          this.ativity.type = data.ActivityType
          this.ativity.stime = data.StartTimeFrom
          this.ativity.etime = data.StartTimeTo
          this.ativity.gender = data.Gender === 1 ? '男' : data.Gender === 2 ? '女' : '不限'
          this.ativity.addr = data.Place
          this.ativity.expiration = data.Expiration
          this.ativity.total = data.TotalNumber
          this.ativity.cost = data.Cost
          this.joinCount = this.ativity.join = data.JoinCount
          this.ativity.banlance = data.BalanceNumber
          this.joined = this.ativity.joined = data.JoinStatus === '0' || data.JoinStatus === '1' || data.JoinStatus === '2'
          this.allowComment = data.IsAllowArticleReply || false
          this.noData = data.CommentCount > 0 ? '没有更多评论' : ''
          console.log(data)
          setTimeout(() => { this.$refs.scroller.resize() }, 100)
        }, status => {
          console.log(status)
        })
      },
      apply (type) {
        service5.post(this.$http, { contentId: this.$route.params.id, type: type }).then(data => {
          this.joinCount = this.joinCount + (type === 1 ? 1 : -1)
          this.joined = !this.joined
          this.$toast.show({text: type === 1 ? '报名成功' : '已取消报名', position: 'bottom'})
        }, status => {
          if (status && status.indexOf('已过期') > 0) {
            this.$toast.show({text: '报名活动已过期', position: 'bottom', width: '150px'})
          } else {
            this.$toast.show({text: '报名失败', position: 'bottom'})
          }
        })
      },
      infinite () {
        setTimeout(() => {
          service2.get(this.$http, { contentId: this.$route.params.id }).then(data => {
            this.data = data.list
            this.$refs.scroller.finishInfinite(!data.hasMore)
          }, status => {
            this.$refs.scroller.finishInfinite(true)
          })
        })
      }
    },
    deactivated () {
      this.alive = false
      this.menuDlg = false
    },
    activated () {
      if (!this.alive) this.$refs.scroller.resetInfinite()
      this.alive = true
      if (this.id !== this.$route.params.id || this.refresh) {
        this.id = this.$route.params.id
        this.$refs.scroller.scrollTo(0, 0)
        this.data = []
        this.getAtivity()
        service2.init()
      }
      this.refresh = false
    }
  }
</script>

<style lang="less">
   @import '../styles/article';
   @import '../styles/comment';
</style>

