<template>
  <div>
    <scroller :on-refresh="refresh" :on-infinite="infinite" ref="scroller">
       <div class="top-box">
          <div class="img"><img class="avatar" :src="img" @click.prevent="goToSubscriptionIntro()" vipalt="false"/></div>
          <div class="title">{{name}}</div>
          <p class="desc">{{desc}}</p>
          <x-button :disabled="isFocused || isPushed" outline block small color="pink"  @click.native="followSubscription">{{isFocused || isPushed ? '已关注':'+ 关注'}}</x-button>
       </div>
       <panel :header="stickHeader" v-if="stickData">
          <panel-item :title="item.theme"  v-for="(item, index) in stickData" :key="index" :header="stickHot"  :link="{path: '/bbs/topic/' + item.postID}"></panel-item>
       </panel>
       <media v-for="(item, index) in data" :key="index" :link="{path: (item.SubscriptionContent[0].ExternalType === 4 ? '/bbs/ativity/' : '/bbs/topic/') + item.SubscriptionContent[0].ExternalContentID}">
         <div class="time">{{item.SubscriptionContent[0].Author || '匿名'}} {{item.SubscriptionContent[0].PublishTime | datetime}}</div>
         <div class="title">
            {{item.SubscriptionContent[0].Title}}
            <span style="margin:0 3px;color:#999;font-weight:400" v-if="item.SubscriptionContent[0].ExternalType === 4">[报名帖]</span>
            <icon  style="color:#fc9999;" name="group" scale="0.8" v-if="item.SubscriptionContent[0].ExternalType === 4"></icon>
          </div>
         <div class="text" v-if="item.SubscriptionContent[0].Summary">
            <p v-html="item.SubscriptionContent[0].Summary"></p>
         </div>
         <div class="img" v-if="item.SubscriptionContent[0].GroupImageUrl" :style="{backgroundImage: 'url(' + item.SubscriptionContent[0].GroupImageUrl + ')'}"></div>
         <div class="footer">
            <ul>
                <li><icon name="eye" scale="0.8"></icon>{{item.SubscriptionContent[0].ReadCount}}</li>
                <li style="float:right;"><icon name="commonet-o" scale="0.8"></icon>{{item.SubscriptionContent[0].CommentCount}}</li>
                <li style="float:right;margin-right:20px;"><icon name="thumbs-o-up" scale="0.8"></icon>{{item.SubscriptionContent[0].LikeCount}}</li>
            </ul>
         </div>
       </media>
    </scroller>
    <message-action :is-allow-chat="isAllowChat"></message-action>
  </div>

</template>

<script>
  import Scroller from '../components/scroll'
  import XButton from '../components/button'
  import { Panel, PanelItem } from '../components/panel'
  import Media from '../components/media'
  import Icon from '../components/icon'
  import filter from '../filters/time'
  import * as menu from '../services/menu-list'
  import service1 from '../services/getSubscriptionIntro'
  import service3 from '../services/postSubscriptionFocusAct'
  import service2 from '../services/bbs/getForum.js'
  import service4 from '../services/bbs/getStickTopicList'
  import MessageAction from './MessageAction'
  import {mapState} from 'vuex'

  export default {
    name: 'bforum',
    components: {
      Scroller,
      XButton,
      Panel,
      PanelItem,
      Media,
      Icon,
      MessageAction
    },
    filters: {
      datetime: (val) => filter(new Date(val), 'YYYY-MM-DD HH:mm')
    },
    data () {
      return {
        id: this.$route.params.id,
        name: '',
        desc: '',
        img: '',
        isFocused: false,
        isPushed: false,
        isAllowChat: false,
        data: [],
        alive: true,
        stickData: [],
        stickHeader: '<span style="padding:0 2px;border:1px solid #F53D3D;color:#F53D3D;border-radius:2px;">置顶</span>',
        stickHot: '<div style="background-color:#F53D3D;border-radius:100%;margin-right:4px;width:8px;height:8px;">&nbsp;</div>',
        rerefresh: false
      }
    },
    computed: {
      ...mapState({
        State: state => state.data.object
      })
    },
    mounted () {
      setTimeout(() => {
        this.$moaapi.showNavMenu(menu.EDIT)
      }, 100)
      this.getSubscriptionInfo()
      this.getStickTopicList()
      service2.init()
    },
    methods: {
      goToSubscriptionIntro () {
        this.$router.push({path: '/subscription/intro/' + this.id})
        this.rerefresh = true // 开启刷新
      },
      getSubscriptionInfo () {
        service1.get(this.$http, { subscriptionId: this.id }).then(data => {
          this.name = data.Name
          this.img = data.HeaderImgUrl
          this.desc = data.Introduction
          this.isFocused = data.IsFocus === 1
          this.isPushed = data.IsPush === 1
          this.isAllowChat = data.IsAllowInstantMessage
          this.$moaapi.updateNavTitle(this.name)
        }, status => {
          console.log(status)
        })
      },
      getStickTopicList () {
        service4.get(this.$http, { forumId: this.$route.params.forumId }).then(data => {
          this.stickData = data
        }, status => {
          console.log(status)
        })
      },
      followSubscription () {
        service3.post(this.$http, { subscriptionId: this.id, type: 1 }).then(data => {
          this.isFocused = true
          this.$toast.show({text: '关注成功', position: 'bottom'})
        }, status => {
          console.log(status)
        })
      },
      refresh () {
        setTimeout(() => {
          service2.reload(this.$http, { subscriptionId: this.id }).then(data => {
            this.data = data.list
            this.$refs.scroller.finishPullToRefresh()
          }, status => {
            this.$refs.scroller.finishPullToRefresh()
          })
        })
      },
      infinite () {
        setTimeout(() => {
          if (!this.alive) return
          service2.get(this.$http, { subscriptionId: this.id }).then(data => {
            this.data = data.list
            this.$refs.scroller.finishInfinite(!data.hasMore)
          }, status => {
            if (status === 2) {
              this.$refs.scroller.finishInfinite(true)
            } else {
              this.$refs.scroller.finishInfinite()
            }
          })
        }, 500)
      }
    },
    deactivated () {
      this.alive = false
      this.$moaapi.hideNavMenu()
    },
    activated () {
      if (!this.alive) this.$refs.scroller.resetInfinite()
      this.alive = true
      if (this.State) {
        this.rerefresh = this.State.refresh === 1
        this.$store.dispatch('updateData', undefined)
      }
      if (this.id !== this.$route.params.id || this.rerefresh) {
        this.id = this.$route.params.id
        this.$refs.scroller.scrollTo(0, 0)
        this.getSubscriptionInfo()
        this.getStickTopicList()
        this.data = []
        this.stickData = []
        service2.init()
      } else {
        this.$moaapi.updateNavTitle(this.name)
      }
      setTimeout(() => {
        this.$moaapi.showNavMenu(menu.EDIT)
      }, 100)
      this.rerefresh = false
    }
  }
</script>

<style lang="less" scoped>
   .top-box {
      font-family:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
      padding: 10px 40px;
      text-align: center;
      background-color: #ffffff;
      .img {
        margin-bottom:5px;
        img {
          height:44px;
          width:44px;
        }
      }
      .title {
         color: #000000;
         font-size: 16px;
         font-weight:700;
         margin-bottom:6px;
      }
      .desc {
        font-size: 14px;
        color: #777777;
        margin-bottom:6px;
      }
      .desc,.title {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         word-wrap: normal;
      }
   }
   .x-media-box {
       font-family:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
       -webkit-backface-visibility: hidden;
       backface-visibility: hidden;
       .time {
         color: #aaa;
         font-size: 14px;
         margin-bottom: 12px;
       }
       .title {
         color: #000000;
         font-size: 16px;
         font-weight:700;
         margin-bottom:6px;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         word-wrap: normal;
       }
       .text p{
         color: #aaa;
         font-size: 14px;
         margin-bottom:6px;
         img {
           max-width:100%;
         }
       }
       .img {
         width: 100%;
		     height: 135px;
		     background-repeat:no-repeat;
		     background-position: center;
		     background-size:cover;
         margin-bottom:8px;
       }
       .footer {
          ul li {
            color: #aaa;
            display: inline-block;
            font-size:14px;
            .fa-icon {
               padding:0 4px;
            }
          }
       }
   }
</style>
