<template>
  <div>
    <group>
      <x-select v-model="forumId" title="版块" :data="forumData" placeholder="请选择版块"></x-select>
      <x-select v-model="typeId" title="分类" :data="typeData" :placeholder="typePlaceHolder"></x-select>
      <x-input v-model="subject" title="标题" placeholder="请输入标题"></x-input>
      <x-textarea :max="200" name="description" placeholder="来说点什么吧..." :height="100" v-model="content"></x-textarea>
      <image-uploader :options="{url: uploadUrl}" @on-success="uploaderSuccess" @on-error="uploaderError" @on-delete="uploaderDelete"></image-uploader>
    </group>
    <div style="margin:20px;">
      <flexbox>
        <flexbox-item>
          <x-button @click.native="newTopic(1)" color="pink" :disabled="!enableSubmit">匿名发表</x-button>
        </flexbox-item>
        <flexbox-item>
          <x-button @click.native="newTopic(0)" color="pink" :disabled="!enableSubmit">实名发表</x-button>
        </flexbox-item>
      </flexbox>
    </div>
  </div>
</template>

<script>
  import Group from '../components/group'
  import XSelect from '../components/select'
  import XInput from '../components/input'
  import XTextarea from '../components/textarea'
  import XButton from '../components/button'
  import { Flexbox, FlexboxItem } from '../components/flexbox'
  import ImageUploader from '../components/image-uploader'
  import service1 from '../services/bbs/getForumAll'
  import service2 from '../services/bbs/getTopicTypeAll'
  import service3 from '../services/bbs/postTopicNewAct'
  import * as status from '../services/service-status'

  export default {
    name: 'topn',
    components: {
      Group,
      XSelect,
      XInput,
      XTextarea,
      Flexbox,
      FlexboxItem,
      XButton,
      ImageUploader
    },
    data () {
      return {
        id: this.$route.params.id,
        data: [],
        forumId: '',
        forumData: [],
        typeId: '',
        typeData: [],
        subject: '',
        content: '',
        uploadUrl: status.PROXY + '/api/bbs/AttachementApi/DoUploadImage',
        imgIndex: 1,
        imgList: [],
        enableSubmit: true,
        typePlaceHolder: '请选择分类'
      }
    },
    mounted () {
      this.$moaapi.updateNavTitle('发帖')
      this.getAllForum()
    },
    methods: {
      getAllForum () {
        service1.get(this.$http, {}).then(data => {
          this.data = data
          for (let i in data) {
            this.forumData.push({label: data[i].name, value: data[i].forumID})
          }
        }, status => {
          console.log(status)
        })
      },
      getTypeAll () {
        service2.get(this.$http, {forumId: this.forumId}).then(data => {
          if (data.length === 0) {
            this.typePlaceHolder = '版块无分类'
            // this.$toast.show({text: '该版块无分类', position: 'bottom'})
          } else {
            this.typePlaceHolder = '请选择分类'
            for (let i in data) {
              this.typeData.push({label: data[i].Name, value: data[i].TypeID})
            }
          }
        }, status => {
          console.log(status)
        })
      },
      findForum (forumId) {
        for (let i = 0, len = this.data.length; i < len; i++) {
          let item = this.data[i]
          if (item.forumID === forumId) {
            return item.subscriptionID
          }
        }
      },
      newTopic (anonymous) {
        if (!(this.forumId && this.subject && this.content)) {
          this.$toast.show({text: '请填写完整信息', position: 'bottom', width: '200px'})
          return
        }
        let imgUrls = this.imgList.map((file) => {
          return file.url
        })
        this.enableSubmit = false
        service3.post(this.$http, {forumId: this.forumId, typeId: this.typeId, subject: this.subject, content: this.content, urls: imgUrls.join('|'), anonymous: anonymous}).then(data => {
          // this.forumId = ''
          // this.subject = ''
          // this.content = ''
          this.$toast.show({text: '发帖成功', position: 'bottom'})
          setTimeout(() => {
            let subscriptionId = this.findForum(this.forumId)
            this.$router.push({path: `/bbs/forum/${subscriptionId}/${this.forumId}`})
            // this.$moaapi.closeWin()
          }, 800)
        }, status => {
          this.enableSubmit = true
          this.$toast.show({text: '发帖失败', position: 'bottom'})
          console.log(status)
        })
      },
      uploaderSuccess (res) {
        this.imgList.push({id: this.imgIndex, url: res.Object.Url})
        this.imgIndex++
      },
      uploaderError (err) {
        this.$toast.show({text: err, position: 'bottom', width: '200px'})
      },
      uploaderDelete (fileId, target, gallery) {
        let index
        for (let i = 0, len = this.imgList.length; i < len; ++i) {
          let file = this.imgList[i]
          if (file.id === parseInt(fileId)) {
            index = i
            break
          }
        }
        if (index || index === 0) this.imgList.splice(index, 1)
        target.remove()
        gallery.hide()
      }
    },
    watch: {
      forumId (val) {
        this.typeId = ''
        this.typeData = []
        setTimeout(() => {
          this.getTypeAll()
        }, 100)
      }
    }
  }
</script>

<style lang="less" scoped>
   .msg-header,.msg-title,.msg-content {
      font-family:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
      font-size:14px;
      color:#444444;
   }
   .msg-header {
      .msg-time {
        color:#aaa;
      }
      .msg-author {
        color:#4690ec;
      }
   }
   .weui-cells {
     margin-top: 0;
     &:before {
       border-top:0;
     }
   }
   .weui-cell {
      padding: 15px 15px;
   }
   .weui-cells_form {
     margin-top:0;
   }
   .weui-flex__item {
     padding: 0 8px;
   }
</style>
<style lang="less">
   .weui-cells {
     margin-top:0;
   }
</style>
