<template>
  <div v-nav="{title: '按钮'}">
    <div style="padding:10px;">
    <p>颜色</p>
    <x-button>default</x-button>
    <x-button color="primary" >primary</x-button>
    <x-button color="danger" >danger</x-button>
    <x-button color="light" >light</x-button>
    <p>大小</p>
    <x-button>default</x-button>
    <x-button small>small</x-button>
    <p>风格</p>
    <x-button>default</x-button>
    <x-button outline>outline</x-button>
    <p>不可用</p>
    <x-button disabled>disabled</x-button>
    <x-button outline disabled>disabled</x-button>
    <p>圆角</p>
    <x-button round color="primary" >round</x-button>
    <x-button round outline  color="primary" >round</x-button>
    <p>块布局</p>
    <x-button block>block</x-button>
    <x-button block>block</x-button>
    </div>
  </div>
</template>

<script>
import XButton from '../components/button'

export default {
  components: {
    XButton
  }
}
</script>

