<template>
  <div>
    <scroller :on-infinite="infinite" ref="scroller" :contentStyle="{'padding-bottom':'45px'}">
      <div class="comment">
        <media class="box">
          <div class="c-lt">
            <avatar :src="img" @on-click="showUserInfo($event, authorId)"></avatar>
          </div>
          <div class="c-rt">
            <div class="hd">
              <div class="hd-lt">
                <p class="name">{{author}}</p>
                <p class="time">{{date | datetime}}</p>
              </div>
              <div class="hd-rt">
                <p></p>
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="bd" v-html="htmlEmoji(content)"></div>
          </div>
        </media>
      </div>
      <div class="reply">
        <media v-for="(item, index) in data" :key="item.ReplyId" class="box" @on-click="showMenu(item)">
          <div class="c-lt">
            <avatar :src="item.ReplyUser.UserHeadImage" @on-click="showUserInfo($event, item.ReplyUser.UserID)"></avatar>
          </div>
          <div class="c-rt">
            <div class="hd">
              <div class="hd-lt">
                <p class="name">{{item.ReplyUser.UserName}}</p>
                <p class="time">{{item.ReplyContentTime | datetime}}</p>
              </div>
              <div class="hd-rt">
                <p class="actions"><span>{{item.LikeCount}}</span><i :class="{'yes': item.IsLike}"><icon name="thumbs-o-up" scale="0.9"></icon></i></p>
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="bd" v-html="htmlEmoji(item.ReplyContent)"></div>
          </div>
        </media>
      </div>
    </scroller>
    <x-footer v-if="commentRight">
      <flexbox>
        <flexbox-item>
          <div class="input" @click="reply">回复 ...</div>
        </flexbox-item>
      </flexbox>
    </x-footer>
    <x-dialog v-model="menuDlg" :hideOnBlur="true">
      <panel :indent="false">
        <panel-item @click.native="deleteReply" v-if="isOwner">
          <span class="done">删除</span>
        </panel-item>
        <panel-item @click.native="praiseReply">
          <span :class="{'done': replyLike}" v-if="!replyLike">点赞</span>
          <span :class="{'done': replyLike}" v-else>取消点赞</span>
        </panel-item>
      </panel>
    </x-dialog>
  </div>
</template>


<script>
  import Scroller from '../components/scroll'
  import Media from '../components/media'
  import { Flexbox, FlexboxItem } from '../components/flexbox'
  import { Panel, PanelItem } from '../components/panel'
  import Icon from '../components/icon'
  import XFooter from '../components/footer'
  import XDialog from '../components/dialog'
  import Avatar from './Avatar'
  import service1 from '../services/vser/getCommentDetail'
  import service2 from '../services/vser/getReplyList'
  import service3 from '../services/vser/postCommentPraiseAct'
  import service4 from '../services/vser/postCommentDeleteAct'
  import comment from '../mixins/comment-methods'

  export default {
    name: 'comd',
    mixins: [comment],
    components: {
      Scroller,
      Media,
      XFooter,
      XDialog,
      Flexbox,
      FlexboxItem,
      Panel,
      PanelItem,
      Icon,
      Avatar
    },
    data () {
      return {
        id: this.$route.params.id,
        img: '',
        author: '',
        authorId: '',
        date: '',
        content: '',
        like: 0,
        data: [],
        commentCount: 0,
        replyLike: false,
        menuDlg: false,
        currentReply: {},
        isOwner: false,
        commentRight: this.$route.params.right === '1'
      }
    },
    mounted () {
      this.$moaapi.updateNavTitle('回复')
      this.getDetail()
      service2.init()
    },
    methods: {
      reply () {
        this.$router.push({path: '/subscription/comment/post/' + this.$route.params.contentId + '/' + this.id})
      },
      showMenu (item) {
        if (!this.commentRight) return
        this.currentReply = item
        this.replyLike = this.currentReply.IsLike
        this.isOwner = this.currentReply.ReplyUserType === 2
        this.menuDlg = true
      },
      praiseReply () {
        service3.post(this.$http, { commentId: this.currentReply.ReplyID, type: this.currentReply.IsLike ? 0 : 1 }).then(data => {
          this.currentReply.LikeCount += this.currentReply.IsLike ? -1 : 1
          this.currentReply.IsLike = !this.currentReply.IsLike
          this.menuDlg = false
        }, status => {
          this.$toast.show({text: '亲，系统被玩坏了，请稍后重试', position: 'bottom', width: '260px'})
        })
      },
      deleteReply () {
        let confirm = () => {
          service4.post(this.$http, { commentId: this.currentReply.ReplyID, userId: this.currentReply.ReplyUser.UserID }).then(data => {
            this.commentCount -= 1
            let i = this.data.indexOf(this.currentReply)
            if (i !== -1) {
              this.data.splice(i, 1)
            }
            this.$store.dispatch('updateData', {type: 1, commentId: this.id})
          }, status => {
            this.$toast.show({text: '亲，系统被玩坏了，请稍后重试', position: 'bottom', width: '260px'})
          })
        }
        this.menuDlg = false
        this.$confirm.show({title: '删除留言', content: '确定要删除这条回复吗', onConfirm: confirm})
      },
      getDetail () {
        service1.get(this.$http, { commentId: this.id }).then(data => {
          this.img = data.User.UserHeadImage
          this.authorId = data.User.UserID
          this.author = data.User.UserName
          this.date = data.CommentTime
          this.content = data.Content
          this.like = data.CommentLikeCount
        }, status => {
          console.log(status)
        })
      },
      infinite () {
        setTimeout(() => {
          service2.get(this.$http, { commentId: this.id }).then(data => {
            this.data = data.list
            this.$refs.scroller.finishInfinite(!data.hasMore)
          }, status => {
            this.$refs.scroller.finishInfinite(true)
          })
        }, 200)
      }
    }
  }
</script>


<style lang="less" scoped>
   .c-box() {
      .c-lt {
         position:relative;
         width:40px;
         margin-right:10px;
         img {
            height:40px;
            width:40px;
            border-radius:100%;
         }
      }
      .c-rt {
         width:100%;
         .hd {
            display:flex; 
            display: -webkit-flex;   
            .hd-lt {
               width:100%;
               .name {
                  color:#666;
                  font-size:13px;
                  line-height:20px;
               }
               .time {
                  font-size:12px;
                  color:#aaa;
                  line-height:20px;
                }
             }
             .hd-rt {
                  width: 60px;
                  .actions {
                     color:#999;
                     font-size:14px;
                     i,span {
                        float: right;
                        line-height: 20px;
                        min-width:10px;
                      }
                     i svg {
                        padding-top:2px;
                        padding-right:2px;
                     }
                     i.yes {
                        color: #F53D3D;
                     }
                  }                 
             }
         }
         .bd {
            padding-top:2px;
            word-wrap: break-word;
            word-break: break-all;
         }
      }
   }
   .comment {
      font-family:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
      background-color: #ffffff;
      .box {
         padding: 10px 15px;
         display:flex;
         display: -webkit-flex;
         margin:0;
         .c-box();
      }
      
   }
   .reply {
       font-family:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
       margin-top:20px;
       border-top: 1px solid #eeeeee;
       border-bottom: 1px solid #eeeeee;
       background-color: #ffffff;
       .box {
           display:flex;
           display: -webkit-flex;
           margin:0;
           position: relative;
           background-color: transparent;
           &:before {
                content: " ";
                position: absolute;
                top: 0;
                right: 15px;
                height: 1px;
                border-top: 1px solid #eeeeee;
                left:65px;
           }
           &:first-child{
                &:before {
                   display:none;
                } 
           }
           .c-box()
       }
   }
   .input {
      background-color: #eee;
      margin:3px;
      padding:0 8px;
      height: 35px;
      border-radius:2px;
      line-height:35px;
      text-align:left;
      &:active {
        background-color: #ddd;
      }
   } 
   .done {
     color: #F53D3D;
   }
</style>
