<template>
  <div>
     <group>
        <x-textarea :max="200" name="description" placeholder="写评论..." :height="100" v-model="text" @on-keydown="deleteEmoji"></x-textarea>
     </group>
     <flexbox style="padding:8px;">
        <div class="face" @click="showEmoji"><icon name="smile-o" scale="2"></icon></div>
        <flexbox-item><div></div></flexbox-item>
        <div class="post"><x-button :disabled="!enableSubmit" @click.native="sendComment" color="pink">发送</x-button></div>
     </flexbox>
     <emoji-box @on-select-emoji="shiftEmoji" v-if="showEmojiBox"></emoji-box>
  </div>
</template>

<script>
  import Group from '../components/group'
  import XTextarea from '../components/textarea'
  import { Flexbox, FlexboxItem } from '../components/flexbox'
  import XButton from '../components/button'
  import Icon from '../components/icon'
  import {Emoji, EmojiBox} from '../components/emoji'
  import service from '../services/vser/postArticleCommentAct'

  export default {
    name: 'cbox',
    components: {
      Group,
      XTextarea,
      Flexbox,
      FlexboxItem,
      XButton,
      Icon,
      EmojiBox
    },
    data () {
      return {
        text: '',
        showEmojiBox: false,
        curTextIndex: 0,
        enableSubmit: true
      }
    },
    mounted () {
      this.$moaapi.updateNavTitle('写评论')
    },
    methods: {
      showEmoji () {
        this.showEmojiBox = !this.showEmojiBox
      },
      sendComment () {
        if (this.text) {
          this.enableSubmit = false
          let content = Emoji.shiftToENEmoji(this.text)
          service.post(this.$http, { contentId: this.$route.params.id, commentId: this.$route.params.commentId, content: content }).then(data => {
            this.$toast.show({text: '评论成功', position: 'bottom'})
            this.$store.dispatch('updateData', {type: this.$route.params.commentId ? 1 : 0, commentId: this.$route.params.commentId || data})
            window.history.back()
          }, status => {
            this.enableSubmit = true
            this.$toast.show({text: status, position: 'bottom'})
          })
        } else {
          this.$toast.show({text: '请输入评论内容', position: 'bottom'})
        }
      },
      shiftEmoji (e) {
        let emo = Emoji.shiftToCHEmoji(e)
        this.text = this.text + emo
      },
      deleteEmoji (e) {
        let keyCode = window.event ? e.keyCode : e.which
        this.curTextIndex = e.target.selectionStart
        if (keyCode === 8) {
          let str = Emoji.deleteEmoji(this.text, this.curTextIndex)
          if (this.text === str) {
          } else {
            e.preventDefault()
            this.curTextIndex -= (this.text.length - str.length)
            this.text = str
            let thisIndex = this.curTextIndex
            setTimeout(function () {
              e.target.selectionEnd = e.target.selectionStart = thisIndex
            }, 10)
          }
        }
      }
    }
  }
</script>

<style lang="less">
.face {
   color: #aaa;
   :active {
      color: #E13838; 
   }
}
.post {
   width:80px;
}
</style>
