<template>
    <div>
        <x-footer>
            <flexbox>
                <flexbox-item>
                    <div class="input" @click="onClicked">我也有话说...</div>
                </flexbox-item>
                <div class="like" :class="{'yes': praised}" @click="onPraised(praised ? 0 : 1)">
                    <icon name="thumbs-o-up" scale="1.3"></icon>
                </div>
                <div class="comm">
                    <icon name="commonet-o" scale="1.3"></icon>
                    <badge :text="commentTotal" style="position: absolute;top: 4px;left: 12px;"></badge>
                </div>
            </flexbox>
        </x-footer>
    </div>
</template>
 
<script>
  import XFooter from '../components/footer'
  import { Flexbox, FlexboxItem } from '../components/flexbox'
  import Icon from '../components/icon'
  import Badge from '../components/badge'

  export default {
    components: {
      XFooter,
      Flexbox,
      FlexboxItem,
      Icon,
      Badge
    },
    props: {
      praised: Boolean,
      commentTotal: Number
    },
    methods: {
      onClicked () {
        this.$emit('on-input')
      },
      onPraised (val) {
        this.$emit('on-praise', val)
      }
    }
  }
</script>

<style lang="less" scoped>
    .input {
      background-color: #eee;
      margin:3px;
      margin-left:8px;
      padding:0 8px;
      height: 35px;
      border-radius:2px;
      line-height:35px;
      text-align:left;
      &:active {
        background-color: #ddd;
      }
   } 
   .like,.comm {
     position:relative;
      line-height:40px;
      margin-left:20px;
      svg {
        vertical-align:middle;
      }
   }
   .comm {
      margin-right:30px;
   }
   .like.yes {
     color: #F53D3D;
   }
</style>
