<template>
    <div>
        <x-dialog v-model="currentValue" :hideOnBlur="true">
            <panel :indent="false">
                <panel-item @click.native="$emit('on-delete')" v-if="allowDelete">
                    <span class="done">删除</span>
                </panel-item>
                <panel-item @click.native="$emit('on-reply')" v-if="allowReply">
                    <span>回复</span>
                </panel-item>
                <panel-item @click.native="$emit('on-praise')" v-if="allowPraise">
                    <span v-if="!praised">点赞</span>
                    <span v-else class="done">取消点赞</span>
                </panel-item>
            </panel>
        </x-dialog>
    </div>
</template>

<script>
  import XDialog from '../components/dialog'
  import { Panel, PanelItem } from '../components/panel'

  export default {
    components: {
      XDialog,
      Panel,
      PanelItem
    },
    props: {
      value: Boolean,
      praised: Boolean,
      allowDelete: {
        type: Boolean,
        default: true
      },
      allowReply: {
        type: Boolean,
        default: true
      },
      allowPraise: {
        type: Boolean,
        default: true
      }
    },
    data () {
      return {
        currentValue: false
      }
    },
    watch: {
      value (val) {
        this.currentValue = val
      },
      currentValue (val) {
        this.$emit('input', val)
      }
    }
  }
</script>

<style lang="less" scoped>
   .done {
     color: #F53D3D;
   }
</style>
