<template>
  <div v-nav="{title: 'Demo',showMenuButton:true}">
     <list :indent="false" title="Layout 布局">
        <list-item desc="列表" :link="{path: '/demo/list'}"><p>List</p></list-item>
        <list-item desc="面板" :link="{path: '/demo/panel'}"><p>Panel</p></list-item>
        <list-item desc="九宫格" :link="{path: '/demo/grid'}"><p>Grid</p></list-item>
        <list-item desc="Flex 布局" :link="{path: '/demo/flex'}"><p>Flex</p></list-item>
        <list-item desc="Scroll" :link="{path: '/demo/scroll'}"><p>Scroll</p></list-item>
        <list-item desc="Json" :link="{path: '/demo/json'}"><p>Scroll</p></list-item>
        <list-item desc="API" :link="{path: '/demo/api'}"><p>api</p></list-item>
     </list>
     <list :indent="false" title="V 服务">
        <list-item desc="V 服务列表" :link="{path: '/subscription/list'}"><p>V 服务</p></list-item>
        <list-item desc="服务通知" :link="{path: '/subscription/message/notification'}"><p>你有通知</p></list-item>
        <list-item desc="BBS发帖" :link="{path: '/bbs/topicedit'}"><p>BBS发帖</p></list-item>
        <list-item desc="服务分类" :link="{path: '/subscription/category/bf652ef7-629f-46ee-bd0f-0407df28191f'}"><p>服务分类</p></list-item>
        <list-item desc="服务搜索" :link="{path: '/subscription/search'}"><p>服务搜索</p></list-item>
     </list>
     <list :indent="false" title="Components 组件">
        <list-item desc="按钮" :link="{path: '/demo/button'}"><p>Button</p></list-item>
        <list-item desc="徽章" :link="{path: '/demo/badge'}"><p>Badge</p></list-item>
        <list-item desc="Toast" :link="{path: '/demo/toast'}"><p>Toast</p></list-item>
     </list>
     <list :indent="false" title="Advanced 扩展">
        <list-item desc="选项卡" :link="{path: '/demo/tabbar/category'}"><p>嵌套路由</p></list-item>
        <list-item desc="消息列表页" :link="{path: '/demo/detail'}"><p>消息列表页</p></list-item>
     </list>
     <list :indent="false" title="Nav 导航">
        <list-item desc="列表" :link="{path: '/demo/list'}"><p>List</p></list-item>
     </list>
  </div>
</template>

<script>
import { List, ListItem } from '../components/list'

export default {
  components: {
    List,
    ListItem
  }
}
</script>
