<template>
  <div v-nav="{hide: true}">
     <div class="center logo">
        <img src="../assets/logo.png" alt="logo"/>
     </div>
     <div class="center code-name">vue-weui-x</div>
     <div class="center code-desc">
       Mobile UI Components<br>based on Vue.js and Weui css
     </div>
     <list :indent="false">
        <list-item desc="示例" :link="{path: '/demo'}"><p>Demo</p></list-item>
        <list-item desc="文档" :link="{path: '/tab2'}"><p>Doc</p></list-item>
     </list>
  </div>
</template>

<script>
import { List, ListItem } from '../components/list'

export default {
  components: {
    List,
    ListItem
  }
}
</script>
<style>
    .center {
        text-align: center;
    }
    
    .logo {
        padding-top: 40px;
    }
    
    .logo img {
        height: 55px;
    }

    .code-name {
        font-size: 24px;
        line-height: 24px;
        color: #008CFF;
        margin-bottom: 10px;
        padding: 5px 0 0 2px;
    }

    .code-desc {
        color: #999;
        margin: 5px auto 15px auto;
    }
</style>
