<template>
  <div v-nav="{title: 'Json'}">
     {{json}}
  </div>
</template>

<script>
import Config from '../config'
export default {
  data () {
    return {
      json: Config.domain
    }
  }
}
</script>
