<template>
  <div>
    <ul class="child-menu" v-show="currentValue">
        <li v-for="(item, index) in menus" :key="index">
            <div v-if="item.ContentType===3" @touchstart="stopAction($event, item.Link)">
               <a :href="item.Link">{{item.MenuName}}</a>
            </div>
            <div v-else @touchstart="doAction($event, item)">
               <a>{{item.MenuName}}</a>
            </div>
        </li>
    </ul>
    <input style="display:none" v-model="currentValue">
  </div>
</template>

<script>
  import service from '../services/vser/postMenuMessageAct'
  export default {
    name: 'menu',
    props: {
      value: Boolean,
      menus: Array
    },
    data () {
      return {
        currentValue: false
      }
    },
    created () {
      this.currentValue = this.value
    },
    methods: {
      stopAction (e, link) {
        e.stopPropagation()
        // e.preventDefault()
        setTimeout(() => {
          this.currentValue = false
        }, 100)
        window.location.href = link
      },
      doAction (e, item) {
        e.stopPropagation()
        // e.preventDefault()
        service.post(this.$http, { subscriptionId: this.$route.params.id, menuId: item.MenuID }).then(data => {
          setTimeout(() => {
            this.currentValue = false
          }, 100)
          this.openChatWin()
        }, status => {
          console.log(status)
        })
      },
      openChatWin () {
        this.$router.push({path: `/subscription/message/chat/${this.$route.params.id}`})
      }
    },
    watch: {
      value (val) {
        this.currentValue = val
      },
      currentValue (val) {
        this.$emit('input', val)
      }
    }
  }
</script>

<style lang="less" scoped>
    .child-menu {
		width: 96%;
		position: absolute;
		left: 0;
		bottom: 44px;
		border: solid 0px #ddd;
        margin:1px;
        border-top: none;
        text-align:center;
        color: #666;
        li {
          line-height:40px;
		  border-top: solid 1px #ddd;
          border-left: solid 1px #ddd;
          border-right: solid 1px #ddd;
          list-style: none;
          background-color: #f4f4f4;
          &:active {
            background-color: #ddd;
          }
          a {
            color: #666;
          }
          &:last-child {
		    border-bottom: solid 1px #ddd;
	      }
	    }
        &:before {
           content: ' ';
           width: 0;
           height: 0;
           border-left: 4px solid transparent;
           border-right: 4px solid transparent;
           border-top: 8px solid #f4f4f4;
           display: block;
           margin-left: 8px;
           margin-top:0px;
           bottom: 2px;
           position: absolute;
        }
        &:after {
           content: ' ';
           width: 0;
           height: 0;
           border-left: 5px solid transparent;
           border-right: 5px solid transparent;
           border-top: 10px solid #ddd;
           display: block;
           margin-left: 7px;
           margin-top:-1px;
        }
	}
</style>
