<template>
    <div>
        <scroller ref="scroller" :contentStyle="{'padding-bottom': showEmojiBox ? '235px' : '55px'}" :animationDuration="10">
            <div v-for="(item, index) in data" :key="index" class="chat-msg">
                <div :class="[{'send-right': item.MessageType === 0}, {'reply-left': item.MessageType === 1}]" v-if="item.ContentType === 0">
                    <img v-if="item.MessageType === 0" class="avatar" :src="item.User.UserHeadImage" alt="avatar" vipalt="false">
                    <img v-else class="avatar" :src="item.SubscriptionHeaderImgUrl" alt="avatar" vipalt="false">
                    <span class="triangle"></span>
                    <p v-html="htmlEmoji(item.Content)"></p>
                </div>
                <div :class="[{'send-right': item.MessageType === 0}, {'reply-left': item.MessageType === 1}]" v-if="item.ContentType === 1">
                    <img class="avatar" :src="item.SubscriptionHeaderImgUrl" alt="avatar" vipalt="false">
					          <img class="pub-pic" :src="item.Content">
                </div>

 <media :link="{path: `/subscription/message/detail/${item.SubscriptionGroup.SubscriptionContent[0].SubscriptionContentID}`}" v-if="item.ContentType === 2">
         <div class="time">{{item.SubscriptionGroup.SubscriptionContent[0].PublishTime | datetime}}</div>
         <div class="title">{{item.SubscriptionGroup.SubscriptionContent[0].Title}}</div>
         <div class="text" v-if="item.SubscriptionGroup.SubscriptionContent[0].Summary">
            <p>{{item.SubscriptionGroup.SubscriptionContent[0].Summary}}</p>
         </div>
         <div class="img" v-if="item.SubscriptionGroup.SubscriptionContent[0].GroupImageUrl" :style="{backgroundImage: `url(${item.SubscriptionGroup.SubscriptionContent[0].GroupImageUrl})`}"></div>
       </media>
            </div>
        </scroller>
        <x-footer>
            <flexbox>
            <div class="chat-emoji" @click="showEmoji"><icon name="smile-o" scale="2"></icon></div>
                <flexbox-item>
                   <div class="chat-input"><input type="text" v-model="text"  @keydown="deleteEmoji" @focus="hideEmoji" ref="input"></div>
                </flexbox-item>
                <div class="chat-btn" @click="sendMessage">发送</div>
            </flexbox>
            <emoji-box @on-select-emoji="shiftEmoji" v-if="showEmojiBox"></emoji-box>
        </x-footer>
    </div>
</template>

<script>
import Scroller from '../components/scroll'
import Icon from '../components/icon'
import XFooter from '../components/footer'
import {Flexbox, FlexboxItem} from '../components/flexbox'
import filter from '../filters/time'
import Media from '../components/media'
import {Emoji, EmojiBox, EmojiFilter} from '../components/emoji'
import service1 from '../services/getSubscriptionChatMessage'
import service2 from '../services/postSubscriptionChatMessage'

export default {
  name: 'chat',
  components: {
    Scroller,
    Icon,
    XFooter,
    Flexbox,
    FlexboxItem,
    EmojiBox,
    Media
  },
  filters: {
    datetime: (val) => filter(new Date(val), 'YYYY\u5e74MM\u6708DD\u65e5 HH:mm')
  },
  data () {
    return {
      id: this.$route.params.id,
      data: [],
      showEmojiBox: false,
      text: ''
    }
  },
  mounted () {
    this.$moaapi.updateNavTitle('私信')
    setTimeout(() => {
      this.$moaapi.openKeyboardManager()
    }, 100)
    this.$nextTick(() => {
      this.getSubscriptionChatMessage()
    })
  },
  methods: {
    resize () {
      let imgs = document.querySelectorAll('img')
      Array.from(imgs).forEach((item) => {
        let img = new Image()
        img.onload = () => {
          this.$refs.scroller.resize()
          this.$refs.scroller.scrollTo(0, 1000000000, true)
        }
        img.src = item.getAttribute('src')
      })
    },
    showEmoji () {
      this.$refs.input.blur()
      this.showEmojiBox = !this.showEmojiBox
      setTimeout(() => {
        this.resize()
      }, 10)
    },
    hideEmoji () {
      this.showEmojiBox = false
      setTimeout(() => {
        this.resize()
      }, 10)
    },
    htmlEmoji (val) {
      return EmojiFilter.htmlEmoji(val)
    },
    shiftEmoji (e) {
      let emo = Emoji.shiftToCHEmoji(e)
      this.text = this.text + emo
    },
    deleteEmoji (e) {
      let keyCode = window.event ? e.keyCode : e.which
      this.curTextIndex = e.target.selectionStart
      if (keyCode === 8) {
        let str = Emoji.deleteEmoji(this.text, this.curTextIndex)
        if (this.text === str) {
        } else {
          e.preventDefault()
          this.curTextIndex -= (this.text.length - str.length)
          this.text = str
          let thisIndex = this.curTextIndex
          setTimeout(function () {
            e.target.selectionEnd = e.target.selectionStart = thisIndex
          }, 10)
        }
      }
    },
    getSubscriptionChatMessage () {
      service1.get(this.$http, {subscriptionId: this.$route.params.id}).then(data => {
        this.data = data.List.reverse()
        this.$nextTick(() => {
          setTimeout(() => {
            this.resize()
          }, 100)
        })
      }, status => {
        console.log(status)
      })
    },
    sendMessage () {
      if (this.text) {
        let content = Emoji.shiftToENEmoji(this.text)
        service2.post(this.$http, { subscriptionId: this.$route.params.id, message: content }).then(data => {
          this.text = ''
          this.getSubscriptionChatMessage()
        }, status => {
          this.$toast.show({text: status, position: 'bottom'})
        })
      } else {
        this.$toast.show({text: '请输入内容', position: 'bottom'})
      }
    }
  },
  beforeDestroy () {
  // this.$moaapi.closeKeyboardManager()
  },
  deactivated () {
  },
  activated () {
  }
}
</script>

<style lang="less">
.chat-msg {
    position: relative;
    padding: 5px;
}
.chat-input {
    margin-top:4px;
    padding:0 6px;
    input {
      line-height: 34px;
      background-color: #eee;
      height: 34px;
      width: 100%;
      border-radius:2px;
      text-align:left;
      border: none;
      font-size:14px;
      padding-left:2px;
      :focus {
         border: none; 
      }
    }
}
.chat-emoji {
 height:32px;
 margin-top:6px;
 margin-left:6px;
    :active {
      color: #F257A9; 
   }
}
.chat-btn {
      background-color: #F257A9;
      color:#fff;
      margin:3px;
      padding:0 12px;
      height: 35px;
      border-radius:2px;
      line-height:35px;
      vertical-align: bottom;
      &:active {
        background-color: #F10180;
      }
   } 

.reply-left,
.send-right {
    position: relative;
    &:after {
        display: block;
        height: 0px;
        visibility: hidden;
        content: "";
        clear: both;
    }
    .avatar {
        width: 48px;
        height: 48px;
        display: block;
        border-radius: 100%;
    }
    p {
        position: relative;
        padding: 6px;
        max-width: 60%;
        float: left;
        border-radius: 4px;
        line-height: 22px;
        font-size: 14px;
        vertical-align: bottom;
        word-wrap:break-word; 
        word-break:break-all; 
    }
    .triangle {
        position: absolute;
        top: 4px;
        border-width: 6px;
        border-style: dashed solid dashed dashed;
    }
}

.reply-left {
    .avatar {
        float: left;
    }
    p {
        float: left;
        background-color: #fff;
        color: #000;
        margin-left: 14px;
    }
    .triangle {
        left: 52px;
        border-color: transparent #fff transparent transparent;
    }
}

.send-right {
    .avatar {
        float: right;
    }
    p {
        float: right;
        background-color: #A0E75A;
        color: #000;
        margin-right: 14px;
    }
    .triangle {
        right: 52px;
        border-color: transparent transparent transparent #A0E75A;
    }
}

.reply-left .pub-pic {
    min-height: 80px;
    min-width: 80px;
    max-width: 120px;
    max-height: 120px;
    border-radius: 4px;
    float: left;
    margin-left: 14px;
}
.x-media-box {
  margin:5px;
       font-family:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
       -webkit-backface-visibility: hidden;
       backface-visibility: hidden;
       .time {
         color: #aaa;
         font-size: 14px;
         margin-bottom: 12px;
       }
       .title {
         color: #000000;
         font-size: 16px;
         font-weight:700;
         margin-bottom:6px;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         word-wrap: normal;
       }
       .text p{
         color: #aaa;
         font-size: 14px;
         margin-bottom:6px;
       }
       .img {
         width: 100%;
		     height: 135px;
		     background-repeat:no-repeat;
		     background-position: center;
		     background-size:cover;
         margin-bottom:8px;
       }
   }
</style>
