<template>
    <x-footer v-if="isAllowChat">
      <flexbox>
        <flexbox-item  v-for="(item, index) in menus" :key="index">
           <div v-if="item.ChildMenu.length === 0">
              <div class="menu" v-if="item.ContentType===3">
                 <a :href="item.Link">{{item.MenuName}}</a>
              </div>
              <div class="menu" v-else @click.prevent="doAction(item)">
                 <a @click="">{{item.MenuName}}</a>
              </div>
           </div>
           <div v-else>
              <div class="menu" @click.prevent="showMenu($event, item)">
                 <a>{{item.MenuName}}</a><icon name="reorder" scale="0.6"></icon>
              </div>
              <sub-menu v-model="item.showChildMenu" :menus="item.ChildMenu" :id="item.MenuID" class="menu-container"></sub-menu>
           </div>
        </flexbox-item>
        <flexbox-item>
          <div class="menu" @click="openChatWin">私信</div>
        </flexbox-item>
      </flexbox>
    </x-footer>
</template>

<script>
  import XFooter from '../components/footer'
  import { Flexbox, FlexboxItem } from '../components/flexbox'
  import Icon from '../components/icon'
  import SubMenu from './MessageMenu'
  import service from '../services/vser/postMenuMessageAct'
  
  export default {
    components: {
      XFooter,
      Flexbox,
      FlexboxItem,
      Icon,
      SubMenu
    },
    props: {
      isAllowChat: Boolean,
      menus: Array
    },
    mounted () {
      let touch = function () {
        let subMenus = document.getElementsByClassName('child-menu')
        for (let i = 0; i < subMenus.length; i++) {
          subMenus[i].style.display = 'none'
        }
      }
      document.body.addEventListener('touchstart', touch, false)
    },
    methods: {
      showMenu (e, item) {
        // let b = document.getElementById(item.MenuID).getElementsByClassName('child-menu')[0].style.display === 'none'
        // if (b) {
        //  item.showChildMenu = false
        // }
        // e.stopPropagation()
        this.hideMenu(item)
        setTimeout(() => {
          item.showChildMenu = !item.showChildMenu
        }, 10)
      },
      hideMenu (excludeItem) {
        this.menus.forEach((item) => {
          if (item.MenuID !== excludeItem.MenuID) {
            item.showChildMenu = false
          }
        })
      },
      doAction (item) {
        service.post(this.$http, { subscriptionId: this.$route.params.id, menuId: item.MenuID }).then(data => {
          this.currentValue = false
          this.openChatWin()
        }, status => {
          console.log(status)
        })
      },
      openChatWin () {
        this.$router.push({path: `/subscription/message/chat/${this.$route.params.id}`})
      }
    }
  }
</script>

<style lang="less" scoped>
   .weui-footer {
     background-color: #f4f4f4;
     &:before {
       border-top: 1px solid #ddd;
    }
   }
   .menu {
     line-height:44px;
     font-size:14px;
     color: #666;
     a {
       margin-right:4px;
     }
     &:active {
       background-color: #ddd;
     }
   }
   .weui-footer {
     padding:0;
   }
   .weui-flex__item {
     position: relative;
     border-right:1px solid #ddd;
     &:last-child {
        border-right:none;
     }
   }
</style>
