<template>
  <div>
    <scroller :on-refresh="refresh" :on-infinite="infinite" ref="scroller" :contentStyle="{'padding-bottom':'45px'}" :no-data-text="noData">
      <x-article :title="title" :author="author" :date="date" :type="type" :content="content"></x-article>
      <div class="comments">
        <div class="comment-header">
          <span>评论 <i class="number">{{commentCount}}</i></span>
        </div>
        <div class="comment-body">
          <div class="warp" v-for="(item, index) in data" :key="item.SubscriptionCommentId">
            <media class="comment-box" @on-click="showMenu(item)">
              <div class="c-lt">
                <avatar :src="item.User.UserHeadImage" @on-click="showUserInfo($event, item.User.UserID)"></avatar>
              </div>
              <div class="c-rt">
                <div class="hd">
                  <div class="hd-lt">
                    <p class="name">{{item.User.UserName}}</p>
                    <p class="time">{{item.CommentTime | datetime}}</p>
                  </div>
                  <div class="hd-rt">
                    <p class="actions"><span>{{item.CommentLikeCount}}</span><i :class="{'yes': item.IsLike}"><icon name="thumbs-o-up" scale="0.9"></icon></i></p>
                    <p>&nbsp;</p>
                  </div>
                </div>
                <div class="bd" v-html="htmlEmoji(item.Content)"></div>
              </div>
            </media>
            <div class="replay-box" v-if="item.ReplyCount>0">
              <div class="r-lt">
                <div></div>
              </div>
              <div class="r-rt">
                <media @on-click="viewReply(item.SubscriptionCommentId)">
                  <p v-for="(subitem, index) in item.ReplyComments" :key="subitem.ReplyID">
                    <span class="name">{{subitem.ReplyUser.UserName}}</span>:
                    <span class="content" v-html="htmlEmoji(subitem.ReplyContent)"></span>
                  </p>
                  <p><span>共{{item.ReplyCount}}条回复 ></span></p>
                </media>
              </div>
            </div>
          </div>
          <div class="warp" v-if="commentCount===0">
            <div class="no-comments">还没有人评论</div>
          </div>
        </div>
      </div>
    </scroller>
    <comment-action :praised="like" :commentTotal="commentCount" @on-input="comment" @on-praise="praise" v-if="allowComment"></comment-action>
    <context-menu v-model="menuDlg" :praised="commentLike" :allow-delete="isOwner" @on-reply="replyComment" @on-praise="praiseComment" @on-delete="deleteComment"></context-menu>
  </div>
</template>

<script>
  import Scroller from '../components/scroll'
  import Media from '../components/media'
  import Icon from '../components/icon'
  import service1 from '../services/vser/getMessageDetail'
  import service2 from '../services/vser/getCommentList'
  import service3 from '../services/vser/postArticlePraiseAct'
  import service4 from '../services/vser/postCommentPraiseAct'
  import service5 from '../services/vser/postCommentDeleteAct'
  import service6 from '../services/vser/getReplyList'
  import service7 from '../services/vser/getCommentDetail'
  import XArticle from './Article'
  import ContextMenu from './CommentContextMenu'
  import Avatar from './Avatar'
  import CommentAction from './CommentAction'
  import comment from '../mixins/comment-methods'
  import {mapState} from 'vuex'

  export default {
    name: 'msgd',
    mixins: [comment],
    components: {
      Scroller,
      Media,
      Icon,
      XArticle,
      ContextMenu,
      CommentAction,
      Avatar
    },
    data () {
      return {
        id: this.$route.params.id,
        title: '',
        author: '',
        date: '',
        type: 0,
        content: '',
        data: [],
        commentCount: 0,
        like: false,
        alive: true,
        rerefresh: false,
        currentComment: {},
        menuDlg: false,
        commentLike: false,
        isOwner: false,
        allowComment: true,
        noData: ''
      }
    },
    computed: {
      ...mapState({
        myComment: state => state.data.object
      })
    },
    mounted () {
      this.$moaapi.updateNavTitle('消息正文')
      this.getDetail()
      service2.init()
    },
    methods: {
      praise (type) {
        service3.post(this.$http, { contentId: this.id, type: type }).then(data => {
          this.like = type
        }, status => {
          this.$toast.show({text: '亲，系统被玩坏了，请稍后重试', position: 'bottom', width: '260px'})
        })
      },
      comment () {
        this.$router.push({path: `/subscription/comment/post/${this.id}`})
        this.rerefresh = false // 开启刷新
      },
      showMenu (item) {
        if (!this.allowComment) return
        this.currentComment = item
        this.commentLike = this.currentComment.IsLike === 1
        this.isOwner = this.currentComment.IsOwner === 1
        this.menuDlg = true
      },
      praiseComment () {
        service4.post(this.$http, { commentId: this.currentComment.SubscriptionCommentId, type: this.currentComment.IsLike ? 0 : 1 }).then(data => {
          this.currentComment.CommentLikeCount += this.currentComment.IsLike ? -1 : 1
          this.currentComment.IsLike = !this.currentComment.IsLike
          this.menuDlg = false
        }, status => {
          this.$toast.show({text: '亲，系统被玩坏了，请稍后重试', position: 'bottom', width: '260px'})
        })
      },
      deleteComment () {
        let confirm = () => {
          service5.post(this.$http, { commentId: this.currentComment.SubscriptionCommentId, userId: this.currentComment.User.UserID }).then(data => {
            this.commentCount -= 1
            let i = this.data.indexOf(this.currentComment)
            if (i !== -1) {
              this.data.splice(i, 1)
            }
          }, status => {
            this.$toast.show({text: '亲，系统被玩坏了，请稍后重试', position: 'bottom', width: '260px'})
          })
        }
        this.menuDlg = false
        this.$confirm.show({title: '删除评论', content: '删除评论后，评论下所有的回复都会被删除', onConfirm: confirm})
      },
      replyComment () {
        this.$router.push({path: '/subscription/comment/post/' + this.id + '/' + this.currentComment.SubscriptionCommentId})
        this.rerefresh = false // 关闭刷新
        this.menuDlg = false
      },
      viewReply (id) {
        this.$router.push({path: '/subscription/comment/detail/' + id + '/' + this.id + '/' + (this.allowComment ? 1 : 0)})
        this.rerefresh = false // 关闭刷新
      },
      getDetail () {
        service1.get(this.$http, { contentId: this.id }).then(data => {
          this.title = data.Title
          this.author = data.Author || '管理员'
          this.date = data.PublishTime
          this.type = data.ContentType
          this.content = data.Content
          this.like = data.IsLike === 1
          this.commentCount = data.CommentCount
          this.allowComment = data.IsAllowArticleReply
          this.noData = data.CommentCount > 0 ? '没有更多评论' : ''
          setTimeout(() => { this.$refs.scroller.resize() }, 200)
        }, status => {
          console.log(status)
        })
      },
      refresh () {
        setTimeout(() => {
          service2.reload(this.$http, { contentId: this.id }).then(data => {
            this.data = data.list
            this.$refs.scroller.finishPullToRefresh()
          }, status => {
            this.$refs.scroller.finishPullToRefresh()
          })
        })
      },
      infinite () {
        if (!this.alive) return
        setTimeout(() => {
          service2.get(this.$http, { contentId: this.id }).then(data => {
            this.data = data.list
            this.$refs.scroller.finishInfinite(!data.hasMore)
          }, status => {
            this.$refs.scroller.finishInfinite(true)
          })
        }, 200)
      },
      addSubComment () {
        if (this.myComment === undefined) return
        setTimeout(() => {
          let type = this.myComment.type
          let commentId = this.myComment.commentId
          if (type === 0) {
            service7.get(this.$http, { commentId: commentId }).then(data => {
              this.data.splice(0, 0, data)
              this.commentCount += 1
              this.$store.dispatch('updateData', undefined)
            }, status => {
              console.log(status)
            })
          } else {
            service6.reload(this.$http, { commentId: commentId }).then(data => {
              for (let i = 0; i < this.data.length; i++) {
                if (this.data[i].SubscriptionCommentId === commentId) {
                  this.data[i].ReplyComments = []
                  let len = data.list.length > 3 ? 3 : data.list.length
                  if (len <= 3) this.data[i].ReplyCount = len
                  for (let j = 0; j < len; j++) {
                    this.data[i].ReplyComments.push(data.list[j])
                  }
                }
              }
              this.$store.dispatch('updateData', undefined)
            }, status => {
              console.log(status)
            })
          }
        })
      }
    },
    deactivated () {
      this.alive = false
      this.menuDlg = false
    },
    activated () {
      this.$moaapi.updateNavTitle('消息正文')
      if (!this.alive) this.$refs.scroller.resetInfinite()
      this.alive = true
      setTimeout(() => { this.$refs.scroller.resize() }, 100)
      if (this.id !== this.$route.params.id || this.rerefresh) {
        console.log(this.rerefresh)
        console.log('dd')
        this.id = this.$route.params.id
        this.$refs.scroller.scrollTo(0, 0)
        this.data = []
        this.getDetail()
        service2.init()
      }
      this.rerefresh = false
      this.addSubComment()
    }
  }
</script>

<style lang="less" scoped>
   @import '../styles/comment';
</style>
