<template>
    <div>
        <scroller :on-refresh="refresh" :on-infinite="infinite" ref="scroller"> 
           <panel v-for="item in data" :key="item.ID" :header="getLogo(item.SubscriptionName, item.SubscriptionHeadImgUrl)" :card="true" footer="详情" :more-link="getDetailUrl(item)">
               <panel-item v-if="item.DataType === 0 || item.DataType === 1">
                   <p class="msg-header">
                       <span>文章回复通知</span>
                   </p>
                   <p class="msg-remark">
                       <span class="msg-time">{{item.ReplyTime | datetime}}</span>
                       <span class="msg-author">{{item.ReplyUserName}}</span>
                       <span class="msg-type" v-if="item.DataType === 0">对你的文字发表了评论</span>
                       <span class="msg-type" v-else>回复了您的留言</span>
                   </p>
                   <p class="msg-title">
                       <span>文章标题：{{item.Title}}</span>
                   </p>
                   <p class="msg-content">
                       <span>回复内容：<span v-html="htmlEmoji(item.Content)"></span></span>
                   </p>
               </panel-item>
               <panel-item v-else>
                   <p class="msg-header">
                       <span>{{item.Title}}</span>
                   </p>
                   <p class="msg-remark">
                       <span class="msg-time">{{item.ReplyTime | datetime}}</span>
                   </p>
                   <p class="msg-content">
                       <span>{{item.Content}}</span>
                   </p>
               </panel-item>
           </panel>
        </scroller>
    </div>
</template>
 
<script>
  import Scroller from '../components/scroll'
  import { Panel, PanelItem } from '../components/panel'
  import filter from '../filters/time'
  import {EmojiFilter} from '../components/emoji'
  import service from '../services/getMessageNotificationList'

  export default {
    name: 'msgn',
    components: {
      Scroller,
      Panel,
      PanelItem
    },
    filters: {
      datetime: (val) => filter(new Date(val), 'MM-DD HH:mm')
    },
    data () {
      return {
        data: []
      }
    },
    mounted () {
      this.$moaapi.updateNavTitle('服务通知')
      service.init()
    },
    methods: {
      htmlEmoji (val) {
        return EmojiFilter.htmlEmoji(val)
      },
      getLogo (title, url) {
        return `<img src="${url}" vipalt="false" style="height:24px;width:24px; margin-right:5px; vertical-align:bottom"/><div style="display: inline-block;line-height: 24px;">${title}</div>`
      },
      getDetailUrl (item) {
        if (item.DataType === 0 || item.DataType === 1) {
          return { path: (item.SubscritionType === 0 ? '/subscription/message/detail/' : item.ExternalDataType === 0 ? '/bbs/topic/' : '/bbs/ativity/') + item.ContentID }
        } else {
          console.log(item.DetailUrl)
          return item.DetailUrl
        }
      },
      refresh () {
        setTimeout(() => {
          service.reload(this.$http, {}).then(data => {
            this.data = data.list
            this.$refs.scroller.finishPullToRefresh()
          }, status => {
            this.$refs.scroller.finishPullToRefresh()
          })
        }, 500)
      },
      infinite () {
        setTimeout(() => {
          service.get(this.$http, {}).then(data => {
            this.data = data.list
            console.log(this.data)
            this.$refs.scroller.finishInfinite(!data.hasMore)
          }, status => {
            this.$refs.scroller.finishInfinite(true)
          })
        }, 200)
      }
    }
  }
</script>

<style lang="less">
   .msg-header,.msg-remark,.msg-title,.msg-content {
      font-family:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
      font-size:14px;
      color:#444444;
   }
   .msg-header {
     font-size:15px;
     margin-bottom: 8px;
   }
   .msg-remark {
       margin-bottom: 4px;
      .msg-time {
        color:#aaa;
      }
      .msg-author {
        color:#4690ec;
      }
   }
</style>

