<template>
  <div>
    <scroller :on-refresh="refresh" :on-infinite="infinite" ref="scroller">
       <div class="x-box">
          <div class="img"><img class="avatar" :src="img" @click.prevent="goToSubscriptionIntro()" vipalt="false"/></div>
          <div class="title">{{name}}</div>
          <p class="desc">{{desc}}</p>
          <x-button :disabled="isFocused || isPushed" outline block small color="pink" @click.native="fllow">{{isFocused || isPushed ? '已关注':'+ 关注'}}</x-button>
       </div>
       <media v-for="(item, index) in data" :key="index" :link="{path:(item.SubscriptionContent[0].ContentType === 3 ? item.SubscriptionContent[0].Content.trim() : `/subscription/message/detail/${item.SubscriptionContent[0].SubscriptionContentID}`)}">
         <div class="time">{{item.SubscriptionContent[0].PublishTime | datetime}}</div>
         <div class="title">{{item.SubscriptionContent[0].Title}}</div>
         <div class="text" v-if="item.SubscriptionContent[0].Summary">
            <p>{{item.SubscriptionContent[0].Summary}}</p>
         </div>
         <div class="img" v-if="item.SubscriptionContent[0].GroupImageUrl" :style="{backgroundImage: `url(${item.SubscriptionContent[0].GroupImageUrl})`}"></div>
         <div class="footer">
            <ul>
                <li><icon name="eye" scale="0.8"></icon>{{item.SubscriptionContent[0].ReadCount}}</li>
                <li style="float:right;"><icon name="commonet-o" scale="0.8"></icon>{{item.SubscriptionContent[0].CommentCount}}</li>
                <li style="float:right;padding-right:20px;"><icon name="thumbs-o-up" scale="0.8"></icon>{{item.SubscriptionContent[0].LikeCount}}</li>
            </ul>
         </div>
       </media>
    </scroller>
    <message-action :is-allow-chat="isAllowChat" :menus="menus"></message-action>
  </div>

</template>

<script>
  import Scroller from '../components/scroll'
  import Media from '../components/media'
  import XButton from '../components/button'
  import Icon from '../components/icon'
  import filter from '../filters/time'
  import service1 from '../services/getSubscriptionIntro'
  import service2 from '../services/postSubscriptionFocusAct'
  import service3 from '../services/vser/getMessageList'
  import MessageAction from './MessageAction'

  export default {
    name: 'smsg',
    components: {
      Scroller,
      XButton,
      Media,
      Icon,
      MessageAction
    },
    filters: {
      datetime: (val) => filter(new Date(val), 'YYYY\u5e74MM\u6708DD\u65e5 HH:mm')
    },
    data () {
      return {
        id: this.$route.params.id,
        name: '',
        desc: '',
        img: '',
        isFocused: false,
        isPushed: false,
        isAllowChat: false,
        data: [],
        alive: true,
        menus: [],
        rerefresh: false
      }
    },
    mounted () {
      this.getSubscriptionInfo()
      service3.init()
    },
    methods: {
      getSubscriptionInfo () {
        service1.get(this.$http, { subscriptionId: this.$route.params.id }).then(data => {
          this.name = data.Name
          this.img = data.HeaderImgUrl
          this.desc = data.Introduction
          this.isFocused = data.IsFocus === 1
          this.isPushed = data.IsPush === 1
          this.isAllowChat = data.IsAllowInstantMessage
          data.SubscriptionMenu.forEach((item) => { item.showChildMenu = false })
          this.menus = data.SubscriptionMenu
          this.$moaapi.updateNavTitle(this.name)
        }, status => {
          console.log(status)
        })
      },
      goToSubscriptionIntro () {
        this.$router.push({path: `/subscription/intro/${this.$route.params.id}`})
        this.rerefresh = true // 开启刷新
      },
      fllow () {
        service2.post(this.$http, { subscriptionId: this.$route.params.id, type: 1 }).then(data => {
          this.isFocused = true
          this.$toast.show('关注成功')
        }, status => {
          console.log(status)
        })
      },
      refresh () {
        setTimeout(() => {
          service3.reload(this.$http, { subscriptionId: this.$route.params.id }).then(data => {
            this.data = data.list
            this.$refs.scroller.finishPullToRefresh()
          }, status => {
            this.$refs.scroller.finishPullToRefresh()
          })
        })
      },
      infinite () {
        setTimeout(() => {
          if (!this.alive) return
          service3.get(this.$http, { subscriptionId: this.$route.params.id }).then(data => {
            this.data = data.list
            this.$refs.scroller.finishInfinite(this.data = data.list)
          }, status => {
            this.$refs.scroller.finishInfinite(true)
          })
        }, 500)
      }
    },
    deactivated () {
      this.alive = false
    },
    activated () {
      if (!this.alive) this.$refs.scroller.resetInfinite()
      this.alive = true
      if (this.id !== this.$route.params.id || this.rerefresh) {
        this.id = this.$route.params.id
        this.$refs.scroller.scrollTo(0, 0)
        this.getSubscriptionInfo()
        this.data = []
        service3.init()
      } else {
        this.$moaapi.updateNavTitle(this.name)
      }
      this.rerefresh = false
    }
  }
</script>

<style lang="less" scoped>
   .x-box {
      font-family:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
      padding: 10px 40px;
      text-align: center;
      background-color: #ffffff;
      .img {
        margin-bottom:5px;
        img {
          height:44px;
          width:44px;
        }
      }
      .title {
         color: #000000;
         font-size: 16px;
         font-weight:700;
         margin-bottom:6px;
      }
      .desc {
        font-size: 14px;
        color: #777777;
        margin-bottom:6px;
      }
      .desc,.title {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         word-wrap: normal;
      }
   }
   .x-media-box {
       font-family:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
       -webkit-backface-visibility: hidden;
       backface-visibility: hidden;
       .time {
         color: #aaa;
         font-size: 14px;
         margin-bottom: 12px;
       }
       .title {
         color: #000000;
         font-size: 16px;
         font-weight:700;
         margin-bottom:6px;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         word-wrap: normal;
       }
       .text p{
         color: #aaa;
         font-size: 14px;
         margin-bottom:6px;
       }
       .img {
         width: 100%;
		     height: 135px;
		     background-repeat:no-repeat;
		     background-position: center;
		     background-size:cover;
         margin-bottom:8px;
       }
       .footer {
          ul li {
            color: #aaa;
            display: inline-block;
            font-size:13px;
            .fa-icon {
               padding:0 4px;
            }
          }
       }
   }
</style>
