<template>
  <div v-nav="{title: 'Scroll', hide: false}">
    <scroller style="top: 44px;"
              :on-refresh="refresh"
              :on-infinite="infinite"
              ref="my_scroller">
      <list>
      <list-item v-for="(item, index) in items" :key="index">
        {{ item }}
      </list-item>
      </list>
    </scroller>
  </div>
</template>

<script>
  import Scroller from '../components/scroll'
  import { List, ListItem } from '../components/list'
  export default {
    components: {
      Scroller,
      List,
      ListItem
    },
    data () {
      return {
        items: [],
        i: 0,
        x: 0,
        y: 0,
        timer: 0
      }
    },
    mounted () {
      let its = []
      for (let i = 1; i <= 20; i++) {
        its.push('一家专门做特卖的网站 ' + i)
      }
      this.items = this.items.concat(its)
      setTimeout(() => {
        this.$refs.my_scroller.resize()
      })
    },
    beforeDestroy () {
      clearInterval(this.timer)
    },
    methods: {
      init () {
        this.i = 0
        this.items = []
        let its = []
        for (let i = 1; i <= 20; i++) {
          its.push('一家专门做特卖的网站 ' + i)
        }
        this.items = this.items.concat(its)
      },
      refresh () {
        setTimeout(() => {
          this.init()
          if (this.$refs.my_scroller) {
            this.$refs.my_scroller.finishPullToRefresh()
          }
        }, 1500)
      },
      infinite () {
        setTimeout(() => {
          if (this.i === 2) {
            this.$refs.my_scroller.finishInfinite(true)
            return
          }
          let its = []
          let start = 0
          for (let i = start; i < start + 10; i++) {
            its.push('一家专门做特卖的网站 ' + i)
          }
          this.items = this.items.concat(its)
          setTimeout(() => {
            if (this.$refs.my_scroller) {
              this.$refs.my_scroller.finishInfinite()
            }
          })
          this.i++
        }, 1500)
      }
    }
  }
</script>
