<template>
    <div>
        <search-box @on-submit="refresh" v-model="filter">
        </search-box>
                    <scroller :on-infinite="infinite" ref="scroller" style="top:44px;" :contentStyle="{'padding-bottom':'45px'}">
      <list hide-forward-arrow>
         <list-item v-for="item in data" :bodyStyle="{width:'55%'}" :key="item.SubscriptionID" :link="{path: (item.SubscriptionType === 0 ? '/subscription/message/list/' + item.SubscriptionID : '/bbs/forum/' + item.SubscriptionID + '/' + item.ExternalDataID) }">
           <img class="avatar" :src="item.HeaderImgUrl"  slot="icon" vipalt="false"/>
           <p>{{item.Name}}</p>
           <p class="msg" style="color:#aaa;">{{item.Description  || '&nbsp;'}}</p>
           <div slot="desc">
              <p style="color:#aaa;font-size:12px;"></p>
              <p>&nbsp;</p>
           </div>
         </list-item>
      </list>
            </scroller>
    </div>
</template>

<script>
  import SearchBox from '../components/search-box'
  import Scroller from '../components/scroll'
  import { List, ListItem } from '../components/list'
  import service from '../services/getSubscriptionList'

  export default {
    name: 'sear',
    components: {
      SearchBox,
      Scroller,
      List,
      ListItem
    },
    data () {
      return {
        filter: '',
        data: []
      }
    },
    mounted () {
      this.$moaapi.updateNavTitle('搜索服务号')
      service.init()
    },
    methods: {
      refresh () {
        if (this.$refs.scroller) this.$refs.scroller.scrollTo(0, 0)
        setTimeout(() => {
          service.reload(this.$http, { focused: null, filter: this.filter }).then(data => {
            this.data = data.list
            if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh()
          }, status => {
            if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh()
          })
        }, 500)
      },
      infinite () {
        setTimeout(() => {
          service.get(this.$http, { focused: null, filter: this.filter }).then(data => {
            this.data = data.list
            if (this.$refs.scroller) this.$refs.scroller.finishInfinite(!data.hasMore)
          }, status => {
            if (this.$refs.scroller) this.$refs.scroller.finishInfinite(true)
          })
        }, 400)
      }
    }
  }
</script>

<style lang="css" scoped>
   .avatar {
     height:48px;
     width:48px;
     margin-right:15px;
   }
   .msg {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     word-wrap: normal;
     color:#aaa;
     font-size:14px;
   }
   .time {
     color:#aaa;
     font-size:12px;
   }
</style>
<style lang="css">
   .weui-search-bar__cancel-btn {
     color: #f10180 !important;
   }
</style>
