<template>
  <div>
    <scroller :on-refresh="refresh" :on-infinite="infinite" ref="scroller">
      <list hide-forward-arrow :indent="false">
         <list-item v-for="item in data" :key="item.SubscriptionID" :bodyStyle="{width:'55%'}"  header-style="position: relative;"
           :link="{path: (item.SubscriptionType === 0 ? `/subscription/message/list/${item.SubscriptionID}` : `/bbs/forum/${item.SubscriptionID}/${item.ExternalDataID}`)}">
           <div slot="icon">
             <img class="avatar" :src="item.HeaderImgUrl"  vipalt="false" />
             <badge text="" style="position: absolute;top: -4px;left: 42px;" v-if="item.Unread"></badge>
           </div>
           <p>{{item.Name}}</p>
           <div class="msg" v-if="item.LastSubscriptionContent" v-html="item.LastSubscriptionContent.Title"></div><p v-else>&nbsp;</p>
           <div slot="desc">
              <p class="time" v-if="item.LastSubscriptionContent">{{item.LastSubscriptionContent.PublishTime | datetime}}</p><p>&nbsp;</p>
           </div>
           
         </list-item>
      </list>
    </scroller>
  </div>
</template>

<script>
  import Scroller from '../components/scroll'
  import { List, ListItem } from '../components/list'
  import Badge from '../components/badge'
  import filter from '../filters/time'
  import * as menu from '../services/menu-list'
  import service from '../services/getSubscriptionList'
  import { connection, proxy, messageGroupId, getMessage } from '../services/signalR-client'

  export default {
    name: 'serl',
    components: {
      Scroller,
      List,
      ListItem,
      Badge
    },
    filters: {
      datetime: (val) => filter(new Date(val), 'MM\u6708DD\u65e5')
    },
    data () {
      return {
        data: []
      }
    },
    mounted () {
      this.$moaapi.resetNavTitle()
      // this.$moaapi.updateNavTitle('V服务')
      setTimeout(() => {
        this.$moaapi.showNavMenu(menu.ADD)
      }, 100)
      // this.conn()
      service.init()
    },
    methods: {
      conn () {
        let callback = (message) => {
          let _message = JSON.parse(message)
          if (_message.groupId.indexOf(messageGroupId) >= 0 && this.data.length > 0) {
            if (_message.protocolType === 0) {
              let content = JSON.parse(_message.bizContent)
              if (content.Type === 0 || content.Type === 1) {
                this.refresh()
              }
            } else {
              let content = JSON.parse(_message.bizContent)
              if (content.Type === 0 || content.Type === 1) {
                this.removeRedDot(content.Object.SubscriptionID)
              }
            }
          }
        }
        proxy.on('PushMessage', callback)
        connection.start()
      },
      getUnreadMessage () {
        getMessage(this.$http).then(data => {
          let subscriptionIds = []
          for (let i = 0, len = data.length; i < len; i++) {
            let message = data[i]
            if (message.protocolType === 0 && (message.groupId.indexOf(messageGroupId) >= 0)) {
              let content = JSON.parse(message.bizContent)
              if (content && content.Object && content.Object.SubscriptionID) {
                if (!subscriptionIds.includes(content.Object.SubscriptionID)) {
                  subscriptionIds.push(content.Object.SubscriptionID)
                  this.addRedDot(content.Object.SubscriptionID)
                }
              }
            }
          }
        })
      },
      addRedDot (subscriptionId) {
        let sub = this.findSubscription(subscriptionId)
        if (sub) {
          this.$nextTick(() => {
            sub.Unread = true
          })
        }
      },
      removeRedDot (subscriptionId) {
        let sub = this.findSubscription(subscriptionId)
        if (sub) {
          this.$nextTick(() => {
            sub.Unread = false
          })
        }
      },
      findSubscription (subscriptionId) {
        for (let i = 0, len = this.data.length; i < len; i++) {
          let item = this.data[i]
          if (item.SubscriptionID.toLowerCase() === subscriptionId.toLowerCase()) {
            return item
          }
        }
      },
      refresh () {
        setTimeout(() => {
          service.reload(this.$http, { focused: true }).then(data => {
            this.data = data.list
            // this.getUnreadMessage()
            if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh()
          }, status => {
            if (this.$refs.scroller) this.$refs.scroller.finishPullToRefresh()
          })
        }, 100)
      },
      infinite () {
        setTimeout(() => {
          service.get(this.$http, { focused: true }).then(data => {
            this.data = data.list
            // this.getUnreadMessage()
            if (this.$refs.scroller) this.$refs.scroller.finishInfinite(!data.hasMore)
          }, status => {
            if (this.$refs.scroller) this.$refs.scroller.finishInfinite(true)
          })
        }, 100)
      }
    },
    destroyed () {
      this.$moaapi.hideNavMenu()
      proxy.off('PushMessage')
      connection.stop()
    }
  }
</script>

<style lang="css" scoped>
   .avatar {
     height:48px;
     width:48px;
     margin-right:15px;
   }
   .msg {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     word-wrap: normal;
     color:#aaa;
     font-size:14px;
   }
   .time {
     color:#aaa;
     font-size:12px;
   }
</style>
