<template>
    <scroller style="top:44px;padding-top:10px" :on-infinite="infinite" ref="scroller">
      <list hide-forward-arrow>
         <list-item v-for="item in data" :bodyStyle="{width:'55%'}" :key="item.SubscriptionID" 
           :link="{path: (item.SubscriptionType === 0 ? `/subscription/message/list/${item.SubscriptionID}` : `/bbs/forum/${item.SubscriptionID}/${item.ExternalDataID}`) }">
           <img class="avatar" :src="item.HeaderImgUrl" slot="icon" vipalt="false"/>
           <p style="font-size:15px;">{{item.Name}}</p>
           <p class="msg">{{item.Description  || '&nbsp;'}}</p>
           <p class="remark" v-if="item.IsPush === 0">{{item.FansTotal}}人关注</p>
           <p class="remark" v-else>所有人关注</p>
           <div slot="desc">
              <p style="color:#aaa;font-size:12px;"></p>
              <p>&nbsp;</p>
           </div>
         </list-item>
      </list>
    </scroller>
</template>

<script>
import Scroller from '../components/scroll'
import { List, ListItem } from '../components/list'
import {mapState} from 'vuex'
import service from '../services/getSubscriptionList'
import * as menu from '../services/menu-list'

export default {
  name: 'cate',
  components: {
    Scroller,
    List,
    ListItem
  },
  data () {
    return {
      data: []
    }
  },
  computed: {
    ...mapState({
      id: state => state.tab.options ? state.tab.options.id : ''
    }),
    calegoryId () {
      return this.$route.params.id || this.id
    }
  },
  mounted () {
    this.$moaapi.updateNavTitle('分类')
    setTimeout(() => {
      this.$moaapi.showNavMenu(menu.SEARCH)
    }, 100)
    setTimeout(() => {
      this.autoTab()
    }, 200)
    service.init()
  },
  methods: {
    infinite () {
      setTimeout(() => {
        if (!this.calegoryId) {
          this.$refs.scroller.finishInfinite(true)
          return
        }
        service.get(this.$http, { calegoryID: this.calegoryId, focused: null }).then(data => {
          this.data = data.list
          this.$refs.scroller.finishInfinite(!data.hasMore)
        }, status => {
          this.$refs.scroller.finishInfinite(true)
        })
      }, 500)
    },
    autoTab () {
      let autoTabTimer = setInterval(() => {
        let _el = document.getElementById('navtab')
        if (_el) {
          let _subEl = document.querySelector('.x-tab-selected')
          let maxScrollW = _el.scrollWidth - _el.clientWidth
          let objScrollW = _subEl.offsetLeft - 150
          objScrollW = objScrollW < 0 ? 0 : objScrollW
          let forward = objScrollW > _el.scrollLeft
          let pos = objScrollW > maxScrollW ? maxScrollW : objScrollW
          let dist = Math.ceil(maxScrollW / 50)
          this.scrollTo(_el, pos, dist, forward)
          clearInterval(autoTabTimer)
        }
      }, 200)
    },
    scrollTo (el, pos, dist, forward) {
      let t = setInterval(() => {
        if (forward) {
          if (el.scrollLeft < pos) {
            el.scrollLeft += dist
          } else {
            clearInterval(t)
          }
        } else {
          if (el.scrollLeft > pos) {
            el.scrollLeft -= dist
          } else {
            clearInterval(t)
          }
        }
      })
    }
  },
  watch: {
    calegoryId (calegoryId) {
      this.data = []
      setTimeout(() => {
        this.autoTab()
      }, 200)
      service.init()
      this.$refs.scroller.resetInfinite()
      this.$refs.scroller.resize()
    }
  },
  destroyed () {
    this.$moaapi.hideNavMenu()
  }
}
</script>

<style lang="css" scoped>
   .avatar {
     height:64px;
     width:64px;
     margin-right:15px;
   }
   .msg {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     word-wrap: normal;
     color:#777;
     font-size:14px;
   }
   .remark {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     word-wrap: normal;
     color:#bbb;
     font-size:14px;
   }
   .time {
     color:#aaa;
     font-size:12px;
   }
</style>

