<template>
  <div>
      <list>
          <list-item header-style="position:relative;margin-right:10px;">
            <img slot="icon" class="avatar" :src="img" vipalt="false"/>
            <p class="name">{{name}}</p>
            <p class="desc">{{cate}}</p>
            <div slot="desc" class="qr" @click="showQr">
              <icon name="qrcode" scale="1.3"></icon>
           </div>
        </list-item>
      </list>
      <list style="margin-top:10px;">
          <list-item header-style="position:relative;margin-right:10px;vertical-align:top;">
            <div slot="icon" style="width:70px;">功能介绍</div>
            <p style="color:#aaa">{{desc}}</p>
        </list-item>
      </list>
      <div style="margin:20px;" v-if="!pushed">
         <x-button @click.native="followSubscription(focused ? 0 : 1)" color="pink">{{focused ? '取消关注':'+ 关注'}}</x-button>
      </div>
      <x-dialog v-model="qrDlg" :hideOnBlur="true">
        <div class="img-box">
          <img :src="qrImg" alt="" vipalt="false">
        </div>
        <p class="intro">使用‘唯秘’扫一扫上面的二维码</p>
    </x-dialog>
  </div>
</template>

<script>
  import { List, ListItem } from '../components/list'
  import XButton from '../components/button'
  import Icon from '../components/icon'
  import XDialog from '../components/dialog'
  import service1 from '../services/getSubscriptionIntro'
  import service2 from '../services/postSubscriptionFocusAct'
  import * as status from '../services/service-status'

  export default {
    name: 'intro',
    components: {
      List,
      ListItem,
      XButton,
      Icon,
      XDialog
    },
    data () {
      return {
        name: '',
        desc: '',
        img: '',
        cate: '',
        qrImg: '',
        focused: false,
        pushed: false,
        qrDlg: false
      }
    },
    mounted () {
      this.getSubscriptionInfo()
    },
    methods: {
      showQr () {
        this.qrDlg = true
      },
      getSubscriptionInfo () {
        service1.get(this.$http, { subscriptionId: this.$route.params.id }).then(data => {
          this.name = data.Name
          this.img = data.HeaderImgUrl
          this.desc = data.Introduction
          this.cate = data.CateName
          this.focused = data.IsFocus === 1
          this.pushed = data.IsPush === 1
          if (data.SubscriptionType === 0) {
            this.qrImg = status.PROXY + `/api/Subscription/SubscriptionApi/CreateUrlQrCode?url=subscription%2fmessage%2flist%2f${this.$route.params.id}`
          } else {
            this.qrImg = status.PROXY + `/api/Subscription/SubscriptionApi/CreateUrlQrCode?url=bbs%2fforum%2f${this.$route.params.id}%2f${data.ExternalDataID}`
          }
        }, status => {
          console.log(status)
        })
      },
      followSubscription (type) {
        service2.post(this.$http, { subscriptionId: this.$route.params.id, type: type }).then(data => {
          this.focused = type
          this.$toast.show({text: type === 1 ? '关注成功' : '已取消关注', position: 'bottom'})
        }, status => {
          this.$toast.show({text: '亲，系统被玩坏了，请稍后重试', position: 'bottom', width: '260px'})
        })
      }
    }
  }
</script>

<style lang="less" scoped>
   .avatar {
     height:66px;
     width:66px;
     border-radius:100%;
   }
   .name {
     font-size:18px;
   }
   .desc {
     font-size:14px;color:#aaa
   }
   .qr {
     color:#666;
     padding-top:4px;
     padding-right:8px;
   }
   .img-box {
     margin-top:40px;
     line-height:1;
     img {
        width:180px;
        height:180px;
     }
   }
   .intro {
     font-size:12px;
     color:#aaa;
     padding-top:5px;
     padding-bottom: 30px;
   }
</style>
