<template>
  <nav-tab :tabs="tab" :options="options" :active-color="activeColor">
  </nav-tab>
</template>

<script>
import NavTab from '../components/nav-tab'
import service from '../services/getSubscriptionCalegoryList'

export default {
  name: 'ctg',
  components: {
    NavTab: NavTab
  },
  data () {
    return {
      options: {},
      tab: [],
      activeColor: '#f10180'
    }
  },
  mounted () {
    this.init()
  },
  methods: {
    init () {
      service.get(this.$http).then(data => {
        let first = 0
        for (let i in data) {
          this.tab.push({text: data[i].Name, link: {path: '/subscription/category' + (first > 0 ? '/' + data[i].ID : data[i].ID === this.$route.params.id ? '/' + this.$route.params.id : '')}})
          if (first === 0) this.options = {id: data[i].ID}
          first++
        }
      }, status => {
        console.log(status)
      })
    }
  }
}
</script>

