<template>
  <div>
    <div style="padding:10px;">
    <p>颜色</p>
    <x-button @click.native="showToast()">default</x-button>
    </div>
  </div>
</template>

<script>
import XButton from '../components/button'

export default {
  components: {
    XButton
  },
  methods: {
    showToast () {
      console.log('dd')
      this.$toast.show({text: '成功啦!', position: 'bottom'})
    }
  }
}
</script>
