<template>
  <div>
    <scroller :on-refresh="refresh" :on-infinite="infinite" ref="scroller">
      <div class="x-box">
        <div class="img"><img class="avatar" :src="img" @click.prevent="goToSubscriptionIntro()" vipalt="false"/></div>
        <div class="title">{{name}}</div>
        <p class="desc">{{desc}}</p>
        <x-button :disabled="isFocused || isPushed" outline block small color="pink" @click.native="fllow">{{isFocused || isPushed ? '已关注':'+ 关注'}}</x-button>
      </div>
      <div class="css-category clearfix">
        <div class="css-category-btn">
          <div class="btn bd-right" v-on:click="showVlabel()">
            <span>{{vdlabelText}}<i class="css-arrow" :class="{drop:isShowVlabel}"></i></span>
          </div>
        </div>
        <div class="css-category-btn">
          <div class="btn" v-on:click="showVorder()">
            <span>{{vdorderText}}<i class="css-arrow" :class="{drop:isShowVorder}"></i></span>
          </div>
        </div>
        <ul class="css-category-list" v-show="isShowVlabel||isShowVorder">
          <li v-for="(el,i) in vdCatList" :key="i" v-on:click="takeFilter(el)" :class="{cur:el.Name === vdlabelText || el.Name === vdorderText}">{{el.Name}}</li>
        </ul>
      </div>
      <div class="css-list-container">
        <media v-for="(item, index) in data" :key="index" :link="{path: `/video/detail/${item.SubscriptionContentID}`}">
          <!-- <div class="time">{{item.PublishTime | datetime}}</div> -->
          <div class="css-playlink">
            <div class="title">{{item.Title}}</div>
            <!-- <div class="text" v-if="item.SubscriptionContentID">
                <p>{{item.SubscriptionContentID}}</p>
            </div> -->
            <div class="img" v-if="item.GroupImageUrl" :style="{backgroundImage: `url(http://dev.corp.contoso.com:9017/api/image/${item.GroupImageUrl})`}"></div>
            <div class="css-picmask"></div>
            <div class="css-playicon">
              <span class="css-playicon-arrow" :style="{backgroundImage:`url(${vdpic})`}"></span>
              <span class="css-playtime">{{item.PlayTime&&item.PlayTime.split(':')[0]==='00'?item.PlayTime.substr(3):item.PlayTime}}</span>
            </div>
          </div>
          <div class="footer">
            <ul class="clearfix">
              <li class="css-label"><span class="css-info-icon"><img :src="vdlabel" vipalt="false"></span><span class="css-topic">{{item.Topic}}</span></li> 
              <li class="css-info no-mg"><span class="css-info-icon"><icon name="eye" scale="0.8"></icon></span>{{item.ReadCount}}</li>
              <li class="css-info"><span class="css-info-icon"><icon name="commonet-o" scale="0.8"></icon></span>{{item.CommentCount}}</li>
              <li class="css-info"><span class="css-info-icon"><icon name="thumbs-o-up" scale="0.8"></icon></span>{{item.LikeCount}}</li>
            </ul>
          </div>
        </media>
      </div>
      <div class="list-mask" v-on:click="closemask()" v-show="isShowVlabel||isShowVorder"></div>
    </scroller>
    <message-action :is-allow-chat="isAllowChat" :menus="menus"></message-action>
  </div>

</template>

<script>
  import vdpic from '../assets/video.png'
  import vdlabel from '../assets/label.png'
  import Scroller from '../components/scroll'
  import Media from '../components/media'
  import XButton from '../components/button'
  import Icon from '../components/icon'
  import filter from '../filters/time'
  import service1 from '../services/getVideoIntro'
  import service2 from '../services/postSubscriptionFocusAct'
  // import service3 from '../services/vser/getMessageList'
  import service3 from '../services/getVideoList'
  import service4 from '../services/getVideoTopicIntro'
  import MessageAction from './MessageAction'

  export default {
    name: 'vediolist',
    components: {
      Scroller,
      XButton,
      Media,
      Icon,
      MessageAction
    },
    filters: {
      datetime: (val) => filter(new Date(val), 'YYYY\u5e74MM\u6708DD\u65e5 HH:mm')
    },
    data () {
      return {
        vdpic, // 播放图标
        vdlabel, // 标签图标
        vdlabelList: [{Name: '全部'}], // 视频主题数据
        vdorder: [{Name: '最新发布', value: 'PublishTime'}, {Name: '最多播放', value: 'PlayCount'}, {Name: '最多回复', value: 'CommentCount'}], // 视频排序方式
        vdCatList: [],
        vdlabelText: '全部',
        vdorderText: '最新发布',
        orderArg: {}, // 排序参数
        isShowVlabel: false,
        isShowVorder: false,
        id: this.$route.params.id,
        name: '',
        desc: '',
        img: '',
        isFocused: false,
        isPushed: false,
        isAllowChat: false,
        data: [],
        alive: true,
        menus: [],
        rerefresh: false
      }
    },
    mounted () {
      this.getVedioInfo()
      this.getVedioTopic()
      service3.init()
    },
    methods: {
      showVlabel () {
        if (this.isShowVlabel) {
          this.isShowVlabel = false
        } else {
          this.isShowVlabel = true
          this.vdCatList = this.vdlabelList
        }
        this.isShowVorder = false
      },
      showVorder () {
        if (this.isShowVorder) {
          this.isShowVorder = false
        } else {
          this.isShowVorder = true
          this.vdCatList = this.vdorder
        }
        this.isShowVlabel = false
      },
      closemask () {
        this.isShowVlabel = false
        this.isShowVorder = false
      },
      takeFilter (arg) {
        if (this.isShowVlabel) {
          this.vdlabelText = arg.Name
        }
        if (this.isShowVorder) {
          this.vdorderText = arg.Name
        }
        this.vdlabelList.forEach((el) => {
          if (el.Name === this.vdlabelText) {
            if (el.Name === '全部') {
              this.orderArg.topic = ''
            } else {
              this.orderArg.topic = el.Name
            }
          }
        })
        this.vdorder.forEach((el) => {
          if (el.Name === this.vdorderText) {
            this.orderArg.orderName = el.value
          }
        })
        this.ajaxFilter(this.orderArg)
        this.isShowVlabel = false
        this.isShowVorder = false
      },
      ajaxFilter (obj) {
        obj = obj || {}
        service3.init()
        service3.get(this.$http, obj).then(data => {
          this.data = data.list
          this.$refs.scroller.finishInfinite(this.data = data.list)
        }, status => {
          this.$refs.scroller.finishInfinite(true)
        })
      },
      resetLabel () {
        this.vdlabelText = '全部'
        this.vdorderText = '最新发布'
      },
      getVedioTopic () {
        service4.get(this.$http).then(data => {
          this.vdlabelList = this.vdlabelList.concat(data)
        }, status => {
          console.log(status)
        })
      },
      getVedioInfo () {
        service1.get(this.$http, { subscriptionId: this.$route.params.id }).then(data => {
          this.name = data.Name
          this.img = data.HeaderImgUrl
          this.desc = data.Introduction
          this.isFocused = data.IsFocus === 1
          this.isPushed = data.IsPush === 1
          this.isAllowChat = data.IsAllowInstantMessage
          data.SubscriptionMenu.forEach((item) => { item.showChildMenu = false })
          this.menus = data.SubscriptionMenu
          this.$moaapi.updateNavTitle(this.name)
        }, status => {
          console.log(status)
        })
      },
      goToSubscriptionIntro () {
        this.$router.push({path: `/subscription/intro/${this.$route.params.id}`})
        console.log(this.$route.params.id)
        this.rerefresh = true // 开启刷新
      },
      fllow () {
        service2.post(this.$http, { subscriptionId: this.$route.params.id, type: 1 }).then(data => {
          this.isFocused = true
          this.$toast.show('关注成功')
        }, status => {
          console.log(status)
        })
      },
      refresh () {
        setTimeout(() => {
          this.closemask()
          this.resetLabel()
          service3.reload(this.$http, {}).then(data => {
            this.data = data.list
            this.$refs.scroller.finishPullToRefresh()
          }, status => {
            this.$refs.scroller.finishPullToRefresh()
          })
        })
      },
      infinite () {
        setTimeout(() => {
          this.closemask()
          if (!this.alive) return
          service3.get(this.$http, this.orderArg).then(data => {
            this.data = data.list
            this.$refs.scroller.finishInfinite(this.data = data.list)
          }, status => {
            this.$refs.scroller.finishInfinite(true)
          })
        }, 500)
      }
    },
    deactivated () {
      this.alive = false
    },
    activated () {
      if (!this.alive) this.$refs.scroller.resetInfinite()
      this.alive = true
      if (this.id !== this.$route.params.id || this.rerefresh) {
        this.id = this.$route.params.id
        this.$refs.scroller.scrollTo(0, 0)
        this.getSubscriptionInfo()
        this.data = []
        service3.init()
      } else {
        this.$moaapi.updateNavTitle(this.name)
      }
      this.rerefresh = false
    }
  }
</script>

<style lang="less" scoped>
  li{
    list-style-type: none;
  }
  .clearfix:after {
    display: block;
    content: "";
    clear: both;
  }
  .x-box {
    font-family:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
    padding: 10px 40px;
    text-align: center;
    background-color: #ffffff;
    .img {
      margin-bottom:5px;
      img {
        height:44px;
        width:44px;
      }
    }
    .title {
        color: #000000;
        font-size: 16px;
        font-weight:700;
        margin-bottom:6px;
    }
    .desc {
      font-size: 14px;
      color: #777777;
      margin-bottom:6px;
    }
    .desc,.title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }
  }
  .x-media-box {
      font-family:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
      .time {
        color: #aaa;
        font-size: 14px;
        margin-bottom: 12px;
      }
      .title {
        color: #000000;
        font-size: 16px;
        font-weight:700;
        margin-bottom:6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
      }
      .text p{
        color: #aaa;
        font-size: 14px;
        margin-bottom:6px;
      }
      .img {
        width: 100%;
        height: 135px;
        background-repeat:no-repeat;
        background-position: center;
        background-size:cover;
        margin-bottom:8px;
      }
      .footer {
        .css-label{
          float: left;
          img{
            width:10px;
            height:10px;
            // margin-right: 5px;
          }
          .css-topic{
            // border: 1px solid #ccc;
            padding: 0 6px;
          }
        }
        .css-info{
          position: relative;
          float: right;
          margin-right: 40px;
          &.no-mg{
            margin-right: 0;
          }
          .css-info-icon{
          position: absolute;
          left: -22px;
          top: 1px;
          }
        }
        ul li {
          color: #aaa;
          display: inline-block;
          font-size:13px;
          .fa-icon {
              padding:0 4px;
          }
        }
      }
  }
  .css-playlink{
    position: relative;
    .title{
      position: absolute;
      top: 0;
      width: 95%;
      color: #fff;
      z-index: 10;
      padding: 2%;
    }
    .css-picmask{
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #000;
      opacity: 0.5;
      z-index: 9;
    }
    .css-playicon{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 10;
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      .css-playicon-arrow{
        width: 40px;
        height: 40px;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .css-playtime{
        text-align: center;
        color: #fff;
        display: block;
      }
    }
   }
   .css-category{
      position: relative;
      z-index: 21;
      // border-bottom: 1px solid #98989f;
      background-color: #fff;
      margin-top: 10px;
      color: #3d4245;
     .css-category-btn{
       float: left;
       width: 50%;
       text-align: center;
       .css-arrow {
          // position: absolute;
          // right: 18px;
          // top: 15px;
          display: inline-block;
          height: 8px;
          width: 8px;
          border-bottom: 1px solid #98989f;
          border-left: 1px solid #98989f;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          margin-left: 10px;
          margin-bottom: 3px;
      }
      .drop {
          top: 20px;
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
          margin-bottom: -2px;
      }
       .btn{
        &.bd-right{
          border-right: 1px solid #e0e0e0;
        }
        margin: 7px 0;
       }
     }
     /* 下拉相关 */
     .css-category-list{
        width: 100%;
        position: absolute;
        top:39px;
        line-height: 40px;
        z-index: 20;
        background-color: #fff;
        text-align: center;
       li{
         border-top: 1px solid #f4f4f4;
         &.cur{
          color: #f50;
         }
       }
     }
   }
   /* 下拉相关mask层 */
    .list-mask{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 250px;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 20;
    }
</style>
