<template>
    <div class="c-video">
        <div class="article">
            <div class="body">
              <div class="v-box">
                <div class="dummy"></div>
                <div class="v-player" id="video-player">
                  <video class="video-js" :poster="posterpic" webkit-playsinlin vipalt="false"></video>
                </div>
              </div>
            </div>
            <div class="header">
                <h2>{{title}}</h2>
                <div class="remark"><span class="author" @click="showUserInfo($event, authorId)">{{playcount}}次播放</span><span class="time">{{date | datetime}} 发布</span></div>
            </div>
        </div>
    </div>
</template>

<script>
  import comment from '../mixins/comment-methods'
  import videojs from 'video.js'
  // import 'videojs-watermark'
  import service1 from '../services/postVideoDoPlayCountAct'
  import 'video.js/dist/video-js.css'
  import abg from '../assets/androidbg.jpg'
  export default {
    name: 'videoarti',
    mixins: [comment],
    props: {
      id: String,
      playcount: Number,
      posterpic: String,
      title: String,
      authorId: String,
      author: String,
      date: String,
      type: Number,
      content: String
    },
    data () {
      return {
        abg,
        vd: null
      }
    },
    mounted () {
      window.switchNet = function () {}
    },
    watch: {
      content () {
        if (this.vd) {
          this.vd.dispose()
          this.vd = null
        }
        if (!document.querySelector('.video-js')) {
          let dom = document.createElement('video')
          let container = document.getElementById('video-player')
          dom.className = 'video-js'
          dom.setAttribute('vipalt', false)
          dom.setAttribute('poster', this.posterpic)
          container.appendChild(dom)
          document.querySelector('.video-js').style.width = '100%'
        }
        this.vd = videojs(document.querySelector('.video-js'), {
          controls: true,
          preload: 'none',
          // poster: this.posterpic,
          // fluid: true,
          height: 200,
          sources: [{
            src: 'http://fastdfs.sit.vipshop.com/' + this.content,
            type: 'video/mp4'
          }]
        })
        this.vd.on('firstplay', () => {
          service1.post(this.$http, {subscriptionContentID: this.id}).then(data => {
            console.log(data)
          }, status => {
            console.log(status)
          })
        })
        // this.vd.watermark({
        //   position: 'bottom-left',
        //   image: '../../static/emoji/football.png'
        // })
      }
    }
  }
</script>

<style lang="less">
    @import '../styles/article';
    .c-video{
      .video-js{
        width: 100%;
        .vjs-control:focus:before, .vjs-control:hover:before, .vjs-control:focus{
          outline: none;
        }
        .vjs-poster{
          z-index: 51;
        }
        .vjs-big-play-button{
          width: 3.125rem;
          height: 3.125rem;
          position: absolute;
          z-index: 52;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          -webkit-transition: -webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition: -webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          border-radius: 50%;
          background-color: #e3017a;
          // border-color: #e3017a;
        }
        .vjs-play-progress {
          background-color: #e3017a;
          z-index: 2;
        }
      }
      .vjs-watermark-content{
        position: relative;
        z-index: 50;
        right: 0;
        float: right;
        opacity: .7;
      }
    }
    
</style>
