<template>
  <div class="dplayer"></div>
</template>

<script>
  import DPlayer from 'dplayer'
  import '../../node_modules/dplayer/dist/DPlayer.min.css'
  export default {
    props: {
      autoplay: {
        type: Boolean,
        default: false
      },
      theme: {
        type: String,
        default: '#FADFA3'
      },
      loop: {
        type: Boolean,
        default: true
      },
      lang: {
        type: String,
        default: 'zh-cn'
      },
      screenshot: {
        type: Boolean,
        default: false
      },
      hotkey: {
        type: Boolean,
        default: true
      },
      preload: {
        type: String,
        default: 'auto'
      },
      contextmenu: {
        type: Array
      },
      logo: {
        type: String
      },
      danmaku: {
        type: Object,
        default: {}
      },
      video: {
        type: Object,
        required: true,
        validator (value) {
          return typeof value.url === 'string'
        }
      }
    },
    data () {
      return {
        dp: null
      }
    },
    mounted () {
      const player = this.dp = new DPlayer({
        element: this.$el,
        autoplay: this.autoplay,
        theme: this.theme,
        loop: this.loop,
        lang: this.lang,
        screenshot: this.screenshot,
        hotkey: this.hotkey,
        preload: this.preload,
        contextmenu: this.contextmenu,
        logo: this.logo,
        danmaku: this.danmaku,
        video: {
          url: this.video.url,
          pic: this.video.pic,
          type: 'normal'
        }
      })
      player.on('play', () => {
        this.$emit('play')
      })
      player.on('pause', () => {
        this.$emit('pause')
      })
      player.on('canplay', () => {
        this.$emit('canplay')
      })
      player.on('playing', () => {
        this.$emit('playing')
      })
      player.on('ended', () => {
        this.$emit('ended')
      })
      player.on('error', () => {
        this.$emit('error')
      })
    }
  }
</script>
