<template>
  <div class="x-emoji-box">
      <swiper dotsPosition="center">
          <swiper-item>
               <flexbox v-for="(item, index) in data1" :key="index">
                  <flexbox-item v-for="(subItem, index) in item" :key="index"><i class="emoji" :class="[`emoji_${subItem}`]" @click="onClicked(subItem)"/></flexbox-item>
               </flexbox>
          </swiper-item>
          <swiper-item>
               <flexbox v-for="(item, index) in data2" :key="index">
                  <flexbox-item v-for="(subItem, index) in item" :key="index"><i class="emoji" :class="[`emoji_${subItem}`]" @click="onClicked(subItem)"/></flexbox-item>
               </flexbox>
          </swiper-item>
          <swiper-item>
               <flexbox v-for="(item, index) in data3" :key="index">
                  <flexbox-item v-for="(subItem, index) in item" :key="index"><i class="emoji" :class="[`emoji_${subItem}`]" @click="onClicked(subItem)"/></flexbox-item>
               </flexbox>
          </swiper-item>
      </swiper>
  </div>
</template>

<script>
import {Swiper, SwiperItem} from '../swiper'
import {Flexbox, FlexboxItem} from '../flexbox'
import emoji from './core'

export default {
  components: {
    Swiper,
    SwiperItem,
    Flexbox,
    FlexboxItem
  },
  data () {
    return {
      data1: [],
      data2: [],
      data3: []
    }
  },
  mounted () {
    this.splitEmoji()
  },
  methods: {
    splitEmoji () {
      let emojis = []
      for (let i = 0; i < emoji.keys.length; i += 6) {
        emojis.push(emoji.keys.slice(i, i + 6))
      }
      this.data1 = emojis.slice(0, 3)
      this.data2 = emojis.slice(3, 6)
      this.data3 = emojis.slice(6, 9)
    },
    onClicked (e) {
      this.$emit('on-select-emoji', e)
    }
  }
}
</script>

<style lang="less" scoped>
@import '../../styles/xui/x-emoji';
.x-emoji-box {
  background-color:#fff;
  padding:10px 5px;
  padding-bottom:0;
  .emoji {
    width: 32px;
    height: 32px;
    &:active {
       background-color:#eee;
    }
  }
  .weui-flex {
    margin:8px 0;
    .weui-flex__item {
       text-align:center;
    }
  }
}
</style>
