<template>
  <div class="x-media-box" @click.prevent="onClicked">
    <slot></slot>
  </div>
</template>

<script>
import { go } from '../../libs/router'

export default {
  props: {
    link: {
      type: [String, Object]
    }
  },
  methods: {
    onClicked () {
      if (this.link) {
        go(this.link, this.$router)
      } else {
        this.$emit('on-click')
      }
    }
  }
}
</script>

<style lang="less">
  @import '../../styles/xui/x-media-box';
</style>
