<template>
  <div class="weui-footer" :class="{'weui-footer_fixed-bottom' : fixed}">
     <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    fixed: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style lang="less">
.weui-footer {
    color: #999999;
    font-size: 14px;
    text-align: center;
    padding:2px;
}
.weui-footer_fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    background-color: #ffffff;
    &:before {
       content: " ";
       position: absolute;
       top: 0;
       right: 0;
       height: 1px;
       border-top: 1px solid #eee;
       left:0;
       transform-origin: 0 0;
       transform: scaleY(0.5);
    }
}
</style>

