// base on weui reset
@import "x-fn";
@import "x-var";

@lineHeightDefault:1.6;
@bgColorDefault:#f8f8f8;

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    height: 100%;
    .setTapColor();
    overflow: hidden;
}

body {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-user-drag: none;
    font-family: @fontDefault;
    line-height: @lineHeightDefault;
    background-color: @bgColorDefault;
}

* {
    margin: 0;
    padding: 0;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
    .setTapColor();
}