//base on weui button and ionic button
@btnHeight: 36px;
@btnFontSize: 16px;
@btnDisabledOpacity: .4;
@btnFontColor: #FFFFFF;
@btnActiveFontColor: #FFFFFF;
@btnDisabledFontColor: rgba(255, 255, 255, @btnDisabledOpacity);
@btnBorderRadius: 4px;

@btnDefaultGap: 15px;

@btnMiniFontSize: 13px;
@btnMiniHeight: 2.3;

@btnDefaultBg: #387EF5;
@btnDefaultActiveBg: #3474E1;
@btnDefaultDisabledBg: rgba(56, 126, 245, @btnDisabledOpacity);

@btnLightFontColor: #000000;
@btnLightActiveFontColor: rgba(0, 0, 0, 1);
@btnLightDisabledFontColor: rgba(0, 0, 0, @btnDisabledOpacity);

@btnLightBg: #FFFFFF;
@btnLightActiveBg: #E0E0E0;
@btnLightDisabledBg: rgba(244, 244, 244, @btnDisabledOpacity);

@btnPrimaryBg: #1AAD19;
@btnPrimaryActiveBg: #179B16;
@btnPrimaryDisabledBg: rgba(26, 173, 25, @btnDisabledOpacity);

@btnDangerBg: #F53D3D;
@btnDangerActiveBg: #E13838;
@btnDangerDisabledBg: rgba(245, 61, 61, @btnDisabledOpacity);

@btnPinkBg: #F257A9;
@btnPinkActiveBg: #F10180;
@btnPinkDisabledBg: rgba(242, 87, 169, @btnDisabledOpacity);

@btnOutlineDefaultColor: #387EF5;
@btnOutlineDefaultBorderColor: #387EF5;
@btnOutlineDefaultActiveColor: #FFFFFF;
@btnOutlineDefaultActiveBg: #387EF5;
@btnOutlineDefaultDisabledColor: rgba(56, 126, 245, @btnDisabledOpacity);
@btnOutlineDefaultDisabledBorderColor: rgba(56, 126, 245, @btnDisabledOpacity);

@btnOutlineLightColor: #F4F4F4;
@btnOutlineLightBorderColor: #F4F4F4;
@btnOutlineLightActiveColor: #000000;
@btnOutlineLightActiveBg: #F4F4F4;
@btnOutlineLightDisabledColor: rgba(244, 244, 244, @btnDisabledOpacity);
@btnOutlineLightDisabledBorderColor: rgba(244, 244, 244, @btnDisabledOpacity);

@btnOutlinePrimaryColor: #1AAD19;
@btnOutlinePrimaryBorderColor: #1AAD19;
@btnOutlinePrimaryActiveColor: #FFFFFF;
@btnOutlinePrimaryActiveBg: #1AAD19;
@btnOutlinePrimaryDisabledColor: rgba(26, 173, 25, @btnDisabledOpacity);
@btnOutlinePrimaryDisabledBorderColor: rgba(26, 173, 25, @btnDisabledOpacity);

@btnOutlineDangerColor: #F53D3D;
@btnOutlineDangerBorderColor: #F53D3D;
@btnOutlineDangerActiveColor: #FFFFFF;
@btnOutlineDangerActiveBg: #F53D3D;
@btnOutlineDangerDisabledColor: rgba(245, 61, 61, @btnDisabledOpacity);
@btnOutlineDangerDisabledBorderColor: rgba(245, 61, 61, @btnDisabledOpacity);

@btnOutlinePinkColor: #F257A9;
@btnOutlinePinkBorderColor: #F257A9;
@btnOutlinePinkActiveColor: #FFFFFF;
@btnOutlinePinkActiveBg: #F257A9;
@btnOutlinePinkDisabledColor: rgba(241, 1, 128, @btnDisabledOpacity);
@btnOutlinePinkDisabledBorderColor: rgba(242, 87, 169, @btnDisabledOpacity);

.x-btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: @btnFontSize;
    text-align: center;
    text-decoration: none;
    color: @btnFontColor;
    line-height: unit(@btnHeight/@btnFontSize);
    border-radius: @btnBorderRadius;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    width: 100%;
    border-width: 0;
    outline: 0;
    -webkit-appearance: none;
    &:focus {
        outline: 0;
    }
    &:after {
        content: " ";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(.5);
        transform-origin: 0 0;
        box-sizing: border-box;
        border-radius: @btnBorderRadius*2;
    }
}

.x-btn-inline {
    display: inline-block;
    width: auto;
}

.x-btn-round {
    border-radius: @btnHeight;
    &:after {
        border-radius: @btnHeight*2;
    }
}

.x-btn-small {
    padding: 0 1.32em;
    line-height: @btnMiniHeight;
    font-size: @btnMiniFontSize;
}

.x-btn-default {
    background-color: @btnDefaultBg;
    &:not(.x-btn-disabled):visited {
        color: @btnFontColor;
    }
    &:not(.x-btn-disabled):active {
        color: @btnActiveFontColor;
        background-color: @btnDefaultActiveBg;
    }
}

.x-btn-light {
    color: @btnLightFontColor;
    background-color: @btnLightBg;
    &:not(.x-btn-disabled):visited {
        color: @btnLightFontColor;
    }
    &:not(.x-btn-disabled):active {
        color: @btnLightActiveFontColor;
        background-color: @btnLightActiveBg;
    }
}

.x-btn-primary {
    background-color: @btnPrimaryBg;
    &:not(.x-btn-disabled):visited {
        color: @btnFontColor;
    }
    &:not(.x-btn-disabled):active {
        color: @btnActiveFontColor;
        background-color: @btnPrimaryActiveBg;
    }
}

.x-btn-danger {
    background-color: @btnDangerBg;
    &:not(.x-btn-disabled):visited {
        color: @btnFontColor;
    }
    &:not(.x-btn-disabled):active {
        color: @btnActiveFontColor;
        background-color: @btnDangerActiveBg;
    }
}

.x-btn-pink {
    background-color: @btnPinkBg;
    &:not(.x-btn-disabled):visited {
        color: @btnFontColor;
    }
    &:not(.x-btn-disabled):active {
        color: @btnActiveFontColor;
        background-color: @btnPinkActiveBg;
    }
}

.x-btn-disabled {
    color: @btnDisabledFontColor;
    &.x-btn-default {
        background-color: @btnDefaultDisabledBg;
    }
    &.x-btn-light {
        color: @btnLightDisabledFontColor;
        background-color: @btnLightDisabledBg;
    }
    &.x-btn-primary {
        background-color: @btnPrimaryDisabledBg;
    }
    &.x-btn-danger {
        background-color: @btnDangerDisabledBg;
    }
    &.x-btn-pink {
        background-color: @btnPinkDisabledBg;
    }
}

.x-btn-outline-default {
    color: @btnOutlineDefaultColor;
    border: 1px solid @btnOutlineDefaultBorderColor;
    &:not(.x-btn-outline-disabled):active {
        color: @btnOutlineDefaultActiveColor;
        background-color: @btnOutlineDefaultActiveBg;
    }
    &:after {
        border-width: 0;
    }
}

.x-btn-outline-light {
    color: @btnOutlineLightColor;
    border: 1px solid @btnOutlineLightBorderColor;
    &:not(.x-btn-outline-disabled):active {
        color: @btnOutlineLightActiveColor;
        background-color: @btnOutlineLightActiveBg;
    }
    &:after {
        border-width: 0;
    }
}

.x-btn-outline-primary {
    color: @btnOutlinePrimaryColor;
    border: 1px solid @btnOutlinePrimaryBorderColor;
    &:not(.x-btn-outline-disabled):active {
        color: @btnOutlinePrimaryActiveColor;
        background-color: @btnOutlinePrimaryActiveBg;
    }
    &:after {
        border-width: 0;
    }
}

.x-btn-outline-danger {
    color: @btnOutlineDangerColor;
    border: 1px solid @btnOutlineDangerBorderColor;
    &:not(.x-btn-outline-disabled):active {
        color: @btnOutlineDangerActiveColor;
        background-color: @btnOutlineDangerActiveBg;
    }
    &:after {
        border-width: 0;
    }
}

.x-btn-outline-pink {
    color: @btnOutlinePinkColor;
    border: 1px solid @btnOutlinePinkBorderColor;
    &:not(.x-btn-outline-disabled):active {
        color: @btnOutlinePinkActiveColor;
        background-color: @btnOutlinePinkActiveBg;
    }
    &:after {
        border-width: 0;
    }
}

.x-btn-outline-default,
.x-btn-outline-light,
.x-btn-outline-primary,
.x-btn-outline-danger,
.x-btn-outline-pink {
    background-color: transparent;
}

.x-btn-outline-disabled {
    &.x-btn-outline-default {
        color: @btnOutlineDefaultDisabledColor;
        border-color: @btnOutlineDefaultDisabledBorderColor;
    }
    &.x-btn-outline-light {
        color: @btnOutlineLightDisabledColor;
        border-color: @btnOutlineLightDisabledBorderColor;
    }
    &.x-btn-outline-primary {
        color: @btnOutlinePrimaryDisabledColor;
        border-color: @btnOutlinePrimaryDisabledBorderColor;
    }
    &.x-btn-outline-danger {
        color: @btnOutlineDangerDisabledColor;
        border-color: @btnOutlineDangerDisabledBorderColor;
    }
    &.x-btn-outline-pink {
        color: @btnOutlinePinkDisabledColor;
        border-color: @btnOutlinePinkDisabledBorderColor;
    }
}

/*gap between btn*/

.x-btn+.x-btn {
    margin-top: @btnDefaultGap;
}

.x-btn.x-btn-inline+.x-btn.x-btn-inline {
    margin-top: auto;
    margin-left: @btnDefaultGap;
}

.x-btn-group {
    margin: 1.1em @btnDefaultGap .3em;
}

.x-btn-group-inline {
    display: flex;
    .x-btn {
        margin-top: auto;
        margin-right: @btnDefaultGap;
        width: 100%;
        flex: 1;
        &:last-child {
            margin-right: 0;
        }
    }
}