@imageurl: '/static/emoji/';

@smile: smile;
@joy: joy;
@angry: angry;
@disappointed: disappointed;
@blush: blush;
@confused: confused;
@cry: cry;
@relieved: relieved;
@satisfied: satisfied;
@scream: scream;
@sunglasses: sunglasses;
@flushed: flushed;
@grin: grin;
@heart_eyes: heart_eyes;
@kissing_heart: kissing_heart;
@pensive: pensive;
@rage: rage;
@sleeping: sleeping;
@mask: mask;
@smirk: smirk;
@sob: sob;
@wink: wink;
@worried: worried;
@yum: yum;
@sweat_smile: sweat_smile;
@unamused: unamused;
@stuck_out_tongue_closed_eyes: stuck_out_tongue_closed_eyes;
@v: v;
@clap: clap;
@thumbs_up: thumbs_up;
@thumbs_down: thumbs_down;
@muscle: muscle;
@tada: tada;
@gift: gift;
@bomb: bomb;
@heart: heart;
@broken_heart: broken_heart;
@pray: pray;
@poop: poop;
@fire: fire;
@ghost: ghost;
@pill: pill;

.emoji {
    text-indent: -9999px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 100% !important;
    background-repeat: no-repeat;
    &.emoji_@{smile} {
        background: url('@{imageurl}@{smile}.png');
    }
    &.emoji_@{joy} {
        background: url('@{imageurl}@{joy}.png');
    }
    &.emoji_@{angry} {
        background: url('@{imageurl}@{angry}.png');
    }
    &.emoji_@{disappointed} {
        background: url('@{imageurl}@{disappointed}.png');
    }
    &.emoji_@{blush} {
        background: url('@{imageurl}@{blush}.png');
    }
    &.emoji_@{confused} {
        background: url('@{imageurl}@{confused}.png');
    }
    &.emoji_@{cry} {
        background: url('@{imageurl}@{cry}.png');
    }
    &.emoji_@{relieved} {
        background: url('@{imageurl}@{relieved}.png');
    }
    &.emoji_@{satisfied} {
        background: url('@{imageurl}@{satisfied}.png');
    }
    &.emoji_@{scream} {
        background: url('@{imageurl}@{scream}.png');
    }
    &.emoji_@{sunglasses} {
        background: url('@{imageurl}@{sunglasses}.png');
    }
    &.emoji_@{flushed} {
        background: url('@{imageurl}@{flushed}.png');
    }
    &.emoji_@{grin} {
        background: url('@{imageurl}@{grin}.png');
    }
    &.emoji_@{heart_eyes} {
        background: url('@{imageurl}@{heart_eyes}.png');
    }
    &.emoji_@{kissing_heart} {
        background: url('@{imageurl}@{kissing_heart}.png');
    }
    &.emoji_@{pensive} {
        background: url('@{imageurl}@{pensive}.png');
    }
    &.emoji_@{rage} {
        background: url('@{imageurl}@{rage}.png');
    }
    &.emoji_@{sleeping} {
        background: url('@{imageurl}@{sleeping}.png');
    }
    &.emoji_@{mask} {
        background: url('@{imageurl}@{mask}.png');
    }
    &.emoji_@{smirk} {
        background: url('@{imageurl}@{smirk}.png');
    }
    &.emoji_@{sob} {
        background: url('@{imageurl}@{sob}.png');
    }
    &.emoji_@{wink} {
        background: url('@{imageurl}@{wink}.png');
    }
    &.emoji_@{worried} {
        background: url('@{imageurl}@{worried}.png');
    }
    &.emoji_@{yum} {
        background: url('@{imageurl}@{yum}.png');
    }
    &.emoji_@{sweat_smile} {
        background: url('@{imageurl}@{sweat_smile}.png');
    }
    &.emoji_@{unamused} {
        background: url('@{imageurl}@{unamused}.png');
    }
    &.emoji_@{stuck_out_tongue_closed_eyes} {
        background: url('@{imageurl}@{stuck_out_tongue_closed_eyes}.png');
    }
    &.emoji_@{v} {
        background: url('@{imageurl}@{v}.png');
    }
    &.emoji_@{clap} {
        background: url('@{imageurl}@{clap}.png');
    }
    &.emoji_@{thumbs_up} {
        background: url('@{imageurl}@{thumbs_up}.png');
    }
    &.emoji_@{thumbs_down} {
        background: url('@{imageurl}@{thumbs_down}.png');
    }
    &.emoji_@{muscle} {
        background: url('@{imageurl}@{muscle}.png');
    }
    &.emoji_@{tada} {
        background: url('@{imageurl}@{tada}.png');
    }
    &.emoji_@{gift} {
        background: url('@{imageurl}@{gift}.png');
    }
    &.emoji_@{bomb} {
        background: url('@{imageurl}@{bomb}.png');
    }
    &.emoji_@{heart} {
        background: url('@{imageurl}@{heart}.png');
    }
    &.emoji_@{broken_heart} {
        background: url('@{imageurl}@{broken_heart}.png');
    }
    &.emoji_@{pray} {
        background: url('@{imageurl}@{pray}.png');
    }
    &.emoji_@{poop} {
        background: url('@{imageurl}@{poop}.png');
    }
    &.emoji_@{fire} {
        background: url('@{imageurl}@{fire}.png');
    }
    &.emoji_@{ghost} {
        background: url('@{imageurl}@{ghost}.png');
    }
    &.emoji_@{pill} {
        background: url('@{imageurl}@{pill}.png');
    }
}