@import "x-fn";

.x-media-box {
    padding: 15px;
    margin-top: 10px;
    background-color: #FFFFFF;
    line-height:1.4;
    div&{
        color:#000000;
        .setTapColor();
        &:active{
            background-color:#ECECEC;
        }
    }
}