@transition-duration: 400ms;
@transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
.view-right() {
    transform: translate3d(100%, 0, 0);
}

.view-left() {
    transform: translate3d(-100%, 0, 0);
}

.page-enter-active,
.page-leave-active {
    transition-duration: @transition-duration;
    transition-timing-function: @transition-timing-function;
    transition-property: all
}

.page-enter-to,
.page-leave-to {
    transform: translate3d(0, 0, 0);
}

.forward {
    .page-enter {
        .view-right();
        z-index: 2;
        opacity: 1;
    }
    .page-enter-to {
        transform: translate3d(0, 0, 0);
        z-index: 1;
        opacity: 1;
    }
    .page-leave {
        transform: translate3d(0, 0, 0);
        z-index: 1;
        opacity: 1;
    }
    .page-leave-to {
        .view-left();
        z-index: 1;
        opacity: 0.8;
    }
}

.back{
    .page-enter {
        .view-left();
        z-index: 1;
        opacity: 1;
    }
    .page-enter-to {
        transform: translate3d(0, 0, 0);
        z-index: 1;
        opacity: 1;
    }
    .page-leave {
        transform: translate3d(0, 0, 0);
        z-index: 2;
        opacity: 1;
    }
    .page-leave-to {
        .view-right();
        z-index: 2;
        opacity: 0.8;
    }
}