@import "x-var";
@bar-transition-duration: 500ms;
@bar-transition-timing-function: cubic-bezier(.36, .66, .04, 1);
@action-transition-duration: 200ms;
@action-transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
.nav-enter-active,
.nav-leave-active {
    transition-duration: @bar-transition-duration;
    transition-timing-function: @bar-transition-timing-function;
}

.nav-enter,
.nav-leave-to {
    opacity: 0;
}

.nav-leave,
.nav-enter-to {
    opacity: 1;
}

.nav-item-enter-active,
.nav-item-leave-active {
    transition-duration: @action-transition-duration;
    transition-timing-function: @action-transition-timing-function;
    transition-property: all;
}

.nav-item-enter,
.nav-item-leave-to {
    opacity: 0;
}

.nav-item-leave,
.nav-item-enter-to {
    opacity: 1;
}

.x-nav-bar-title {
    .nav-item-leave,
    .nav-item-enter-to {
        transform: translate3d(0, 0, 0);
    }
}

.x-nav-bar {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 500;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    height: @headerHightDefault;
    .x-nav-bar-back,
    .x-nav-bar-menu {
        position: absolute;
        top: 0;
        width: 50px;
        height: @headerHightDefault;
        line-height: @headerHightDefault;
        z-index: 501;
        svg {
            margin-top: 1px;
            height: @headerHightDefault;
        }
    }
    .x-nav-bar-back {
        left: 0;
        padding: 0 0 0 10px;
        text-align: left;
    }
    .x-nav-bar-menu {
        right: 0;
        padding: 0 10px 0 0;
        text-align: right;
    }
    .x-nav-bar-title {
        position: absolute;
        width: 100%;
        height: @headerHightDefault;
        line-height: @headerHightDefault;
        padding: 0;
        font-size: 18px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 500;
    }
}