@swiper-indicator-active-color: #ffe26d;
.x-swiper {
    overflow: hidden;
    position: relative;
    >.x-swiper-indicator {
        position: absolute;
        bottom: 10px;
        >a {
            float: left;
            margin-left: 6px;
            >.x-icon-dot {
                display: inline-block;
                vertical-align: middle;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: #d0cdd1;
            }
            >.x-icon-dot.active {
                background-color: @swiper-indicator-active-color;
            }
        }
        &.x-indicator-left {
            left: 15px;
            right: auto;
        }
        &.x-indicator-center {
            right: 50%;
            transform: translateX(50%)
        }
        &.x-indicator-right {
            right: 15px;
        }
    }
    >.x-swiper-box {
        overflow: hidden;
        position: relative;
        >.x-swiper-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            >a {
                display: block;
                width: 100%;
                height: 100%;
                >.x-img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: center center no-repeat;
                    background-size: cover;
                }
                >.x-swiper-desc {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 1.4em;
                    font-size: 16px;
                    padding: 20px 50px 12px 13px;
                    margin: 0;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .7) 100%);
                    color: #fff;
                    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-wrap: normal;
                }
            }
        }
    }
}