 
 @theme-color: #04BE02;
 @easing-in-out: cubic-bezier(0.35, 0, 0.25, 1);
 @effect-duration: .3s;

 @tab-text-default-color: #666;
 @tab-text-active-color: @theme-color;
 @tab-text-disabled-color: #ddd;
 
 @tab-bar-active-color: @theme-color;

 .x-tab {
     display: flex;
     background-color: #fff;
     height: 44px;
     position: relative;
     &-ink-bar {
         position: absolute;
         height: 2px;
         bottom: 0;
         left: 0;
         background-color: @tab-bar-active-color;
         &-transition-forward {
             transition: right @effect-duration @easing-in-out, left @effect-duration @easing-in-out @effect-duration * 0.3;
         }
         &-transition-backward {
             transition: right @effect-duration @easing-in-out @effect-duration * 0.3, left @effect-duration @easing-in-out;
         }
     }
     button {
         padding: 0;
         border: 0;
         outline: 0;
         background: 0 0;
         appearance: none;
     }
     .x-tab-item {
         display: block;
         flex: 1;
         width: 100%;
         height: 100%;
         box-sizing: border-box;
         background: linear-gradient(180deg, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) bottom left no-repeat;
         background-size: 100% 1px;
         font-size: 14px;
         text-align: center;
         line-height: 44px;
         color: @tab-text-default-color;
     }
     .x-tab-item.x-tab-selected {
         color: @tab-text-active-color;
         border-bottom: 3px solid @tab-text-active-color;
     }
     .x-tab-item.x-tab-disabled {
         color: @tab-text-disabled-color;
     }
     &.x-tab-no-animate .x-tab-item.x-tab-selected {
         background: 0 0;
     }
 }