.x-slide-top-enter-active,
.x-slide-top-leave-active,
.x-slide-bottom-enter-active,
.x-slide-bottom-leave-active {
  transition: all 400ms cubic-bezier(.36,.66,.04,1);
}

.x-slide-top {
  &-enter{
     opacity: 0;
     transform: translateX(-50%) translateY(-100%)!important;  
  }
  &-enter-to {
     opacity: 1;
  }
  &-leave-leave {
     opacity: 1;
    transform: translateX(-50%) translateY(-100%)!important;
  }
  &-leave-to {
     opacity: 0;
  }
}

.x-slide-bottom {
  &-enter {
     opacity: 0;
     transform: translateX(-50%) translateY(100%)!important;
  }
  &-enter-to {
     opacity: 1;
  }
  &-leave {
     opacity: 1;
     transform: translateX(-50%) translateY(100%)!important;
  }
  &-leave-to {
     opacity: 0;
  }
}

.x-fade-enter-active,.x-fade-leave-active {
  transition: opacity linear 0.2s
}

.x-fade {
  &-enter,&-leave-to  {
     opacity: 0;
     
  }
  &-enter-to,&-leave  {
     opacity: 1;
  }
}

.x-pop-enter-active,
.x-pop-leave-active {
  opacity: 1;
  transition-duration: .4s;
  transition-property: transform, opacity!important;
}

.x-pop {
  &-enter{
     opacity: 0;
     transform: translate(-50%, -50%) scale(1.185)!important; 
  }
  &-enter-to {
     opacity: 1;
  }
  &-leave-leave {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1)!important;
  }
  &-leave-to {
     opacity: 0;
  }
}