<template>
  <div class="weui-cell weui-cell_select weui-cell_select-after weui-cell_access" @click.prevent="onSelect">
    <div class="weui-cell__hd">
       <label class="weui-label" v-text="title" :style="labelStyle || $parent.labelStyle"></label>
    </div>
    <div class="weui-cell__bd">
       <input type="hidden" v-model="currentValue"/>
       <div class="x-select" :class="{'x-rtl': rtl}" v-if="currentText">{{currentText}}</div>
       <div class="x-placeholder" :class="{'x-rtl': rtl}" v-else>{{placeholder}}</div>
    </div>
    <div class="weui-cell__ft"></div>
  </div>
</template>

<script>
import picker from '../picker'

export default {
  props: {
    value: [String, Number],
    title: String,
    labelStyle: [String, Object],
    defaultDispalyText: String,
    placeholder: String,
    rtl: {
      type: Boolean,
      default: false
    },
    data: {
      type: Array,
      default: []
    }
  },
  data () {
    return {
      currentValue: '',
      currentText: ''
    }
  },
  created () {
    this.currentValue = this.value
    this.currentText = this.defaultDispalyText
  },
  methods: {
    onSelect () {
      if (this.data && this.data.length > 0) {
        picker.picker(this.data, {id: 'x-picker',
          defaultValue: this.value ? [this.value] : undefined,
          onConfirm: (re) => {
            this.currentValue = re[0].value
            this.currentText = re[0].label
          }})
      }
    }
  },
  watch: {
    value (val) {
      this.currentValue = val
    },
    currentValue (val) {
      if (!val) this.currentText = ''
      this.$emit('on-change', val)
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="less">
@import '../../styles/weui/widget/weui-animate/weui-animate.less';
@import '../../styles/weui/widget/weui-picker/weui-picker.less'; 
</style>
