<template>
    <div class="weui-cell" :id="id">
        <div class="weui-cell__bd">
            <div class="weui-uploader">
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                    <div class="weui-uploader__input-box">
                        <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import $ from '../core/util'
import uploader from './uploader'
import gallery from '../gallery'
import uuid from '../../libs/uuid'

export default {
  props: {
    options: {
      type: Object,
      default: {}
    }
  },
  data () {
    return {
      id: 'uploader_' + uuid.rand()
    }
  },
  mounted () {
    let that = this
    let options = $.extend({
      url: '',
      auto: true,
      type: 'file',
      fileVal: 'file',
      compress: false,
      onBeforeQueued: function (files) {
        let msg
        if (['image/jpg', 'image/jpeg', 'image/png', 'image/gif'].indexOf(this.type) < 0) {
          msg = '图片类型不支持'
        }
        if (this.size > (options.size || 10 * 1024 * 1024)) {
          msg = '图片太大'
        }
        if (msg) {
          that.$emit('on-error', msg)
          return false
        }
      },
      onQueued: function () {
        that.$emit('on-queued', this)
      },
      onBeforeSend: function (data, headers) {
        that.$emit('on-send', data, headers)
      },
      onProgress: function (procent) {
        that.$emit('on-progress', procent)
      },
      onSuccess: function (ret) {
        that.$emit('on-success', ret)
      },
      onError: function (err) {
        console.log(err)
        that.$emit('on-error', '上传出错')
      }
    }, this.options)
    uploader('#' + this.id, options)

    document.querySelector('#' + this.id).querySelector('#uploaderFiles').addEventListener('click', function (e) {
      var target = e.target

      while (!target.classList.contains('weui-uploader__file') && target) {
        target = target.parentNode
      }
      if (!target) return

      let url = target.getAttribute('style') || ''
      let id = target.getAttribute('data-id')

      if (url) {
        url = url.match(/url\((.*?)\)/)[1].replace(/"/g, '')
      }
      let _gallery = gallery(url, {
        className: 'custom-name',
        onDelete: () => {
          that.$emit('on-delete', id, target, _gallery)
        }
      })
    })
  }
}
</script>

<style lang="less">
@import '../../styles/weui/widget/weui-cell/weui-cell_global';
@import '../../styles/weui/widget/weui-cell/weui-access';
@import '../../styles/weui/widget/weui-cell/weui-uploader';
@import '../../styles/weui/widget/weui-cell/weui-gallery';
</style>

