<template>
    <div class="x-swiper-item">
        <slot></slot>
        <a href="javascript:" v-if="img" @click.prevent="onClick">
            <div class="x-swiper-img" :style="style"></div>
            <p class="x-swiper-desc" v-if="$parent.showMask" v-html="title"></p>
        </a>
    </div>
</template>

<script>
import { go } from '../../libs/router'

export default {
  props: {
    img: String,
    url: String,
    title: String
  },
  computed: {
    style () {
      return {
        backgroundImage: `url(${this.img})`
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$parent.rerender()
    })
  },
  methods: {
    onClick () {
      if (this.url) go(this.url, this.$router)
    }
  },
  beforeDestroy () {
    const $parent = this.$parent
    this.$nextTick(() => {
      $parent.rerender()
    })
  }
}
</script>
