<template>
  <div class="x-swiper">
    <div class="x-swiper-box" :style="{height: xheight}">
      <slot></slot>
      <swiper-item v-if="list.length > 0" v-for="(item, index) in list" :key="index" :img="item.img" :url="item.url" :title="item.title"></swiper-item>
    </div>
    <div v-if="showDots" class="x-swiper-indicator" :class="[dotsClass, `x-indicator-${dotsPosition}`]">
        <a href="javascript:" v-for="key in length">
            <i class="x-icon-dot" :class="{'active': key - 1 === current}"></i>
        </a>   
    </div>
  </div>
</template>

<script>
import Swiper from './swiper.js'
import SwiperItem from './swiper-item'

export default {
  components: {
    SwiperItem
  },
  props: {
    value: {
      type: Number,
      default: 0
    },
    auto: {
      type: Boolean,
      default: false
    },
    loop: {
      type: Boolean,
      default: false
    },
    interval: {
      type: Number,
      default: 3000
    },
    threshold: {
      type: Number,
      default: 50
    },
    duration: {
      type: Number,
      default: 300
    },
    minMovingDistance: {
      type: Number,
      default: 0
    },
    direction: {
      type: String,
      default: 'horizontal',
      validator (value) {
        return [
          'horizontal',
          'vertical'
        ].indexOf(value) > -1
      }
    },
    height: {
      type: String,
      default: 'auto'
    },
    aspectRatio: Number,
    showDots: {
      type: Boolean,
      default: true
    },
    dotsPosition: {
      type: String,
      default: 'right',
      validator (value) {
        return [
          'left',
          'center',
          'right'
        ].indexOf(value) > -1
      }
    },
    dotsClass: String,
    showMask: {
      type: Boolean,
      default: false
    },
    list: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      current: this.index || 0,
      index: 0,
      length: this.list.length,
      xheight: 'auto'
    }
  },
  created () {
    this.index = this.value || 0
    if (this.index) {
      this.current = this.index
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (!(this.list && this.list.length === 0)) {
        this.render()
      }
      this.xheight = this.getHeight()
    })
  },
  methods: {
    getHeight () {
      const hasHeight = parseInt(this.height, 10)
      if (hasHeight) return this.height
      if (!hasHeight) {
        if (this.aspectRatio) {
          return this.$el.offsetWidth * this.aspectRatio + 'px'
        }
        return '180px'
      }
    },
    render (index = 0) {
      this.swiper && this.swiper.destroy()
      this.swiper = new Swiper({
        container: this.$el,
        direction: this.direction,
        auto: this.auto,
        loop: this.loop,
        interval: this.interval,
        threshold: this.threshold,
        duration: this.duration,
        height: this.height,
        minMovingDistance: this.minMovingDistance
      })
      .on('swiped', (prev, index) => {
        this.current = index % this.length
        this.index = index % this.length
      })
      if (index > 0) {
        this.swiper.go(index)
      }
    },
    rerender () {
      if (!this.$el) {
        return
      }
      this.$nextTick(() => {
        this.index = this.value || 0
        this.current = this.value || 0
        this.length = this.list.length || this.$children.length
        this.destroy()
        this.render(this.value)
      })
    },
    destroy () {
      this.swiper && this.swiper.destroy()
    }
  },
  watch: {
    list (val) {
      this.rerender()
    },
    current (val) {
      this.index = val
      this.$emit('on-index-change', val)
    },
    index (val) {
      const _this = this
      if (val !== this.current) {
        this.$nextTick(() => {
          _this.swiper && _this.swiper.go(val)
        })
      }
      this.$emit('input', val)
    },
    value (val) {
      this.index = val
    }
  },
  beforeDestroy () {
    this.destroy()
  }
}
</script>

<style lang="less">
@import '../../styles/xui/x-swiper';
</style>

