<template>
  <div class="weui-panel weui-panel_access" :class="{'weui-panel_card': card && indent}">
    <div class="weui-panel__hd" v-if="header" v-html="header" :class="{'no-indent': !indent}"></div>
    <div class="weui-panel__bd">
        <slot></slot>
    </div>
    <div class="weui-panel__ft" v-if="footer">
      <a class="weui-cell weui-cell_access weui-cell_link" @click.prevent="onClicked" :class="{'no-indent': !indent}">
        <div class="weui-cell__bd" v-html="footer"></div>
        <span v-if="moreLink" class="weui-cell__ft"></span>
      </a>
    </div>
  </div>
</template>

<script>
import { go } from '../../libs/router'

export default {
  props: {
    header: String,
    footer: String,
    moreLink: {
      type: [String, Object]
    },
    indent: {
      type: Boolean,
      default: true
    },
    card: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onClicked () {
      if (this.moreLink) {
        go(this.moreLink, this.$router)
      } else {
        this.$emit('on-more-click')
      }
    }
  }
}
</script>

<style lang="less" scoped>
  @import '../../styles/weui/widget/weui-cell/weui-cell_global';
  @import '../../styles/weui/widget/weui-cell/weui-access';
  @import '../../styles/weui/widget/weui-panel/weui-panel';
  @import '../../styles/weui/widget/weui-media-box/weui-media-box';
  
  .weui-panel__hd{
      &.no-indent {
         &:after {
             left:0;
         } 
      }
      .weui-cell{
         &.no-indent {
            &:before {
               left:0;
            } 
         }
      }
   }
   .weui-panel_card {
      margin:10px;
      border-radius:2px;
      .weui-panel__hd:after {
        right:15px;
      }
      .weui-cell:before {
        right:15px;
      }
   }

</style>
