<template>
  <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" :class="{'no-indent': !$parent.indent}" @click.prevent="onClicked">
    <div class="weui-media-box__hd" v-if="imgSrc">
       <img class="weui-media-box__thumb" :src="imgSrc" alt="">
    </div>
    <div class="weui-media-box__hd" v-else-if="header" v-html="header">
    </div>
    <div class="weui-media-box__bd">
       <h4 class="weui-media-box__title" v-if="title">{{title}}</h4>
       <p class="weui-media-box__desc" v-if="desc">{{desc}}</p>
       <slot></slot>
    </div>
  </a>
</template>
<script>
import { go } from '../../libs/router'

export default {
  props: {
    header: String,
    title: String,
    desc: [String, Number],
    imgSrc: String,
    link: {
      type: [String, Object]
    }
  },
  methods: {
    onClicked () {
      go(this.link, this.$router)
    }
  }
}
</script>

<style lang="less" scoped>
.weui-media-box{
   &.no-indent {
       &:before {
          left:0;
       } 
   }
}
.weui-media-box__bd {
  width:99%;
  text-align:left;
  .weui-media-box__title {
  font-size:16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
}
</style>
