<template>
  <span v-text="text" :class="['weui-badge', {'weui-badge_dot': !(text === 0 || text)}]"></span>
</template>

<script>
export default {
  props: {
    text: [String, Number]
  }
}
</script>

<style lang="less">
  @import '../../styles/weui/widget/weui-tips/weui-badge.less';

  .weui-badge {
    padding: 1px 4px
  }
  .weui-badge_dot {
    padding: 5px;
  }
</style>
