<template>
  <div class="x-toast">
    <div class="weui-mask_transparent" v-show="showMask && show"></div>
    <transition :name="transitionType">
      <div class="weui-toast" :style="{width: width}" :class="toastClass" v-show="show">
        <i class="weui-icon-success-no-circle weui-icon_toast" v-show="type !== 'text'"></i>
        <p class="weui-toast__content" v-if="text" v-html="text"></p>
        <p class="weui-toast__content" v-else><slot></slot></p>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    value: Boolean,
    type: {
      type: String,
      default: 'text',
      validator (value) {
        return [
          'success',
          'cancel',
          'warn',
          'text'
        ].indexOf(value) > -1
      }
    },
    position: {
      type: String,
      default: 'default',
      validator (value) {
        return [
          'default',
          'top',
          'bottom',
          'middle'
        ].indexOf(value) > -1
      }
    },
    time: {
      type: Number,
      default: 2000
    },
    width: {
      type: String,
      default: '7.6em'
    },
    showMask: {
      type: Boolean,
      default: false
    },
    text: String
  },
  data () {
    return {
      show: false
    }
  },
  created () {
    if (this.value) {
      this.show = true
    }
  },
  computed: {
    transitionType () {
      if (this.position === 'top') {
        return 'x-slide-top'
      }
      if (this.position === 'bottom') {
        return 'x-slide-bottom'
      }
      return 'x-fade'
    },
    toastClass () {
      return {
        'weui-toast_forbidden': this.type === 'warn',
        'weui-toast_cancel': this.type === 'cancel',
        'weui-toast_success': this.type === 'success',
        'weui-toast_text': this.type === 'text',
        'x-toast-top': this.position === 'top',
        'x-toast-bottom': this.position === 'bottom',
        'x-toast-middle': this.position === 'middle'
      }
    }
  },
  watch: {
    show (val) {
      if (val) {
        this.$emit('input', true)
        this.$emit('on-show')
      }
      if (val) {
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          this.show = false
          this.$emit('input', false)
          this.$emit('on-hide')
        }, this.time)
      }
    },
    value (val) {
      this.show = val
    }
  }
}
</script>

<style lang="less">
@import '../../styles/weui/widget/weui-tips/weui-mask';
@import '../../styles/weui/widget/weui-tips/weui-toast';
@import '../../styles/weui/icon/weui-icon_font.less';
@import '../../styles/xui/x-transition';

@toast-content-font-size: 16px;
@toast-position-top-offset: 60px;
@toast-position-bottom-offset: 60px;

.weui-toast {
  transform: translateX(-50%);
  margin-left: 0!important;
}

.weui-toast.x-toast-top {
  top: @toast-position-top-offset;
}

.weui-toast.x-toast-bottom {
  top: auto;
  bottom: @toast-position-bottom-offset;
}

.weui-toast.x-toast-middle {
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.weui-toast.weui-toast_text{
  min-height: 45px;
}

.weui-toast_text .weui-toast__content {
  margin: 10px;
}

.weui-toast__content {
  font-size: @toast-content-font-size;
}

.weui-toast_success .weui-icon_toast:before {
  content: "\EA08";
}
.weui-toast_cancel .weui-icon_toast:before {
  content: "\EA0D";
}
.weui-toast_forbidden .weui-icon_toast:before {
  content: "\EA0B";
}
</style>
