<template>
    <div>
        <div class="weui-search-bar" id="searchBar" :class="{'weui-search-bar_focusing': focusing}" style="width: 100%;">
            <form class="weui-search-bar__form" @submit.prevent="$emit('on-submit')">
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input type="search" class="weui-search-bar__input" id="searchInput" :placeholder="placeholder" autocomplete="off" :required="required" v-model="currentValue" ref="input" @blur="onBlur">
                    <a href="javascript:" class="weui-icon-clear" id="searchClear" @click="onClear" v-show="value"></a>
                </div>
                <label class="weui-search-bar__label" id="searchText"  @click="onFocus" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                    <i class="weui-icon-search"></i>
                    <span>{{placeholder}}</span>
                </label>
            </form>
            <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel" @click="onCancel">{{cancelText}}</a>
        </div>
    </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: '搜索'
    },
    cancelText: {
      type: String,
      default: '取消'
    },
    required: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      currentValue: '',
      focusing: false
    }
  },
  created () {
    if (this.value) {
      this.currentValue = this.value
    }
  },
  methods: {
    onFocus () {
      this.focusing = true
      this.$refs.input.focus()
      this.$emit('on-touch')
    },
    onBlur () {
      if (!this.value.length) this.cancelSearch()
    },
    onClear () {
      this.currentValue = ''
      this.$refs.input.focus()
    },
    onCancel () {
      this.cancelSearch()
      this.$refs.input.blur()
      this.$emit('on-cancel')
    },
    cancelSearch () {
      this.currentValue = ''
      this.focusing = false
    }
  },
  watch: {
    value (val) {
      this.currentValue = val
    },
    currentValue (val) {
      this.$emit('on-change', val)
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="less">
@import '../../styles/weui/icon/weui-icon_font';
@import '../../styles/weui/widget/weui-searchbar/weui-searchbar';
@import '../../styles/weui/widget/weui-cell/weui-cell_global';
@import '../../styles/weui/widget/weui-cell/weui-access';
</style>
