<template>
  <div>
    <div class="weui-cells__title" v-if="title" v-html="title"></div>
    <div class="weui-cells" :class="[`weui-cells_${this.type}`]">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    type: {
      type: String,
      default: 'form',
      validator (value) {
        return [
          'form',
          'radio',
          'checkbox',
          'select',
          'switch',
          'vcode'
        ].indexOf(value) > -1
      }
    },
    labelStyle: [String, Object]
  }
}
</script>

<style lang="less">
@import '../../styles/weui/widget/weui-cell/weui-cell_global';
@import '../../styles/weui/widget/weui-cell/weui-access';
@import '../../styles/weui/widget/weui-cell/weui-form/weui-form_common';
@import '../../styles/xui/x-from.less'; 
</style>
