<template>
  <a href="javascript:;" class="weui-tabbar__item" :class="{'weui-bar__item_on': currentSelected}" @click="onItemClick(true)">
    <div class="weui-tabbar__icon" :class="[iconClass || $parent.iconClass]" v-if="hasIcon">
      <slot name="icon"></slot>
      <badge v-if="badge || showDot" :text="badge"></badge>
    </div>
    <p class="weui-tabbar__label">
      <slot name="label"></slot>
    </p>
  </a>
</template>

<script>
import { childMixin } from '../../mixins/multi-items'
import Badge from '../badge'

export default {
  components: {
    Badge
  },
  beforeMount () {
    if (!this.$slots.icon) {
      this.hasIcon = false
    }
  },
  mixins: [childMixin],
  props: {
    showDot: {
      type: Boolean,
      default: false
    },
    badge: [String, Number],
    iconClass: String
  },
  data () {
    return {
      hasIcon: true
    }
  }
}
</script>

