<template>
  <div class="weui-tabbar">
    <slot></slot>
  </div>
</template>

<script>
import { parentMixin } from '../../mixins/multi-items'

export default {
  mixins: [parentMixin],
  props: {
    iconClass: String
  }
}
</script>

<style lang="less">
  @import '../../styles/weui/widget/weui-tab/weui-tabbar.less';
  .weui-tabbar__icon {
    position: relative;
  }
  
  .weui-tabbar__icon .weui-badge {
    position: absolute;
    top: -2px;
    right: -8px;
  }
  
  .weui-tabbar__icon .weui-badge.weui-badge_dot {
    position: absolute;
    top: -2px;
    right: -5px;
  }

  .weui-tabbar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  
  .weui-tabbar:before {
    border-top: 0px solid #C0BFC4;
  }
</style>
